<template>
    <v-dialog
            v-model="dialog"
            scrollable
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
            persistent
            no-click-animation
    >
        <v-card tile>
            <div class="d-flex">
                <v-toolbar-title class="d-flex align-center mx-4">
                    <span class="text-truncate">{{company.name}}</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-divider vertical/>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        clearable
                        __class="mx-2"
                        style="max-width: 300px;border-radius: 0;"
                        solo
                        flat
                ></v-text-field>
                <template v-if="access>=2">
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialogEdit=true">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar-items>
                </template>
                <v-dialog
                        v-model="dialogEdit"
                        v-if="dialogEdit"
                        max-width="500px"
                        @click:outside="close()"
                        persistent
                        :no-click-animation="!loadSave"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }} проект</span>
                        </v-card-title>

                        <v-card-text style="padding-bottom:0;">
                            <v-container style="padding:0;">
                                <v-form
                                        ref="form"
                                        v-model="valid"
                                        @submit.prevent="save()"
                                >
                                    <v-row>
                                        <v-col cols="12" v-if="editedIndex===-1">
                                            <v-autocomplete
                                                    v-model="editedItem.idProject"
                                                    :items="projectList"
                                                    item-text="name"
                                                    item-value="id"
                                                    label="Проект"
                                                    clearable
                                                    :disabled="loading"
                                                    :rules="nameRules"
                                            ></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" v-if="exceptProject">
                                            <hc-float-field
                                                    v-model="editedItem.settings.tariff"
                                                    :options="{
                                                        rules: nameRulesFloat,
                                                        label: `Тариф за 1 ${exceptLabel} (руб/день)`,
                                                    }"
                                            ></hc-float-field>
                                        </v-col>
                                        <v-col cols="12" v-else>
                                            <hc-float-field
                                                    v-model="editedItem.tariff"
                                                    :options="{
                                                        rules: nameRulesFloat,
                                                        label: 'Тариф (руб/день)',
                                                    }"
                                            ></hc-float-field>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close()"
                                    :disabled="loadSave"
                            >Отмена
                            </v-btn>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="save()"
                                    :disabled="loadSave"
                                    :loading="loadSave"
                            >
                                Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialog=false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar-items>
                <component
                        v-if="dialogSettings"
                        v-model="dialogSettings"
                        :is="compSettings"
                        :company="company"
                        :project="curProject"
                        @changeAccess="companyAccess=$event"
                        @changeCompany="$emit('companyEdit',$event)"
                />
            </div>
            <v-divider/>
            <v-card-text class="pa-0">
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :loading="loading || loadDel"
                        :items="companyAccess"
                >
                    <template v-slot:item.tariff="{item}">
                        {{getMoney(item.tariff)}}
                    </template>
                    <template v-slot:item.actions={item}>
                        <div style="white-space: nowrap;">
                            <v-btn
                                    v-if="except.some(i=>i.name==item.name && !!i.comp)"
                                    icon
                                    x-small
                                    class="ml-2"
                                    @click="editSettings(item)"
                                    title="Настроить"
                            >
                                <v-icon>mdi-settings</v-icon>
                            </v-btn>
                            <template v-if="access>=2">
                            <v-btn
                                    icon
                                    x-small
                                    class="ml-2"
                                    @click="editItem(item)"
                                    :disabled="loadDel"
                                    title="Редактировать"
                            >
                                <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                            <v-btn
                                    icon
                                    x-small
                                    class="ml-2"
                                    @click="delItem(item)"
                                    :disabled="loadDel"
                                    title="Удалить"
                            >
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                            </template>
                        </div>
                    </template>
                </v-data-table>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions class="px-0 py-0" style="height: 48px">
                <v-spacer></v-spacer>
                <v-divider class="mr-4" vertical/>
                <div style="font-size: 18px;" class="text-truncate">
                    <span>Баланс:</span>
                    <span class="text-h6 font-weight-bold"> {{getMoney(company.balance)}}</span>
                    <span> р.</span>
                </div>
                <v-divider class="mx-4" vertical/>
                <div style="font-size: 18px;" class="text-truncate mr-4">
                    <span>Абонентская плата:</span>
                    <span class="text-h6 font-weight-bold"> {{getMoney(company.tariff)}}</span>
                    <span> р.</span>
                </div>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import hcFloatField from "./hcFloatField";
    export default {
        name: "access",
        model: {
            prop: 'value',
            event: 'change',
        },
        components:{
            hcFloatField,
            companyAuto: () => import('./companyAuto'),
            companySKR: () => import('./companySKR'),
            companyApp: () => import('./companyApp'),
        },
        props: {
            api: String,
            company: Object,
            project: Array,
            value: Boolean,
        },
        data() {
            return {
                loadSave: false,
                headers: [
                    {text: "ID", value: "idProject"},
                    {text: "Слаг", value: "name"},
                    {text: "Название", value: "title"},
                    {text: "Тариф (руб)", value: "tariff", align: "right", sortable: false},
                    {text: "Действия", value: "actions", align: "right", sortable: false},
                ],
                search:'',
                editedIndex: -1,
                editedItem:{
                    id:'',
                    idProject:'',
                    tariff:'0',
                    settings:{},
                },
                defaultItem:{
                    id:'',
                    idProject:'',
                    tariff:'0',
                    settings:{},
                },
                loading:false,
                companyAccess:[],
                loadDel:false,
                dialogEdit: false,
                valid: false,
                nameRules: [
                    v => !!v || 'Обязательное поле',
                ],
                nameRulesFloat: [
                    v => !!v || 'Обязательное поле',
                    v => {
                        let valid = false;
                        if(v.indexOf('.')!==-1){
                            if(v[0]!=='.' && v[v.length-1]!=='.') {
                                let float = v.split('.');
                                if (float.length === 2 && (float[0].length==1 || v[0]!=='0') && float[1].length<=2) {
                                    valid = true;
                                }
                            }
                        }else{
                            if(v.length==1 || v[0]!=='0') {
                                valid = true;
                            }
                        }
                        return valid || 'Некорректный ввод';
                    }
                ],
                dialogSettings:false,
                curProjectID:0,
                except: [
                    {name:'inMarket',label:'сайт',comp:false},
                    {name:'wialon',label:'авто',comp:'companyAuto'},
                    {name:'SKR5.2',label:'ключ',comp:'companySKR'},
                    {name:'inMobile',label:'приложение',comp:'companyApp'},
                ],
                compSettings:'',
            };
        },
        mounted() {
            this.init();
        },
        computed: {
            dialog: {
                get() {
                    return this.value;
                },
                set(value) {
                    this.$emit('change', value);
                }
            },
            filterProject(){
                return this.project.filter(i=>!this.companyAccess.some(e=>e.idProject==i.id));
            },
            projectList(){
                return this.filterProject.map(i=>{
                    return {
                        id: i.id,
                        name: `[${i.name}] ${i.title}`
                    };
                })
            },
            formTitle() {
                return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
            },
            access() {
                return this.$store.state.auth.info.access;
            },
            curProject(){
                return this.companyAccess.find(i=>i.id==this.curProjectID);
            },
            changeProject(){
                return (this.editedItem.idProject) ? this.project.find(i=>i.id==this.editedItem.idProject).name : '';
            },
            exceptProject(){
                return this.except.some(j=>j.name==this.changeProject);
            },
            exceptLabel(){
                return this.exceptProject ? this.except.find(j=>j.name==this.changeProject).label : '';
            },
        },
        watch: {
            'editedItem.idProject'(val){
                if(this.editedIndex==-1 && val){
                    this.editedItem.settings = {};
                    if(this.exceptProject){
                        this.editedItem.settings.tariff = '0';
                    }
                }
            }
        },
        methods: {
            editSettings(item) {
                this.curProjectID = item.id;
                this.compSettings = this.except.find(i=>i.name==item.name).comp;
                this.dialogSettings = true;
            },
            getMoney(sum){
                sum = parseFloat(sum);
                return Number.isInteger(sum) ? sum : sum.toFixed(2);
            },
            init() {
                this.loading = true;
                this.$post(this.api, {
                    rout: 'access',
                    func: 'getAccess',
                    companyID: this.company.id,
                }).then(json => {
                    //console.log(json);
                    this.companyAccess = json;
                }).catch((error) => {
                    console.error(error);
                    this.$emit('message', 'Ошибка ответа сервера!');
                }).finally(() => {
                    this.loading = false;
                });
            },
            close(save = false){
                if (!save && this.loadSave) return false;
                this.dialogEdit = false;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
                this.resetValidation();
            },
            editItem(item) {
                this.editedIndex = this.companyAccess.indexOf(item);
                this.editedItem = {
                    id: item.id,
                    tariff: ''+this.getMoney(item.tariff),
                    idProject: item.idProject,
                    settings: (item.settings) ? JSON.parse(item.settings) : {},
                    oldTariff: ''+this.getMoney(item.tariff),
                };
                this.dialogEdit = true;
            },
            confirmDebit(sum){
                return new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Внимание!!!',
                        text:`Со счёта компании будет списана сумма ${this.getMoney(sum)} р. Подтвердите действие!`,
                        action: ()=>{resolve()}
                    });
                });
            },
            async save(){
                this.validate();
                if (this.valid && !this.loadSave) {
                    if(this.editedIndex==-1 && Number(this.editedItem.tariff)>0){
                        await this.confirmDebit(this.editedItem.tariff);
                    }
                    this.editedItem.project = this.changeProject;
                    if(['inMarket','inMobile'].some(i=>i==this.changeProject)) {
                        if (this.editedIndex === -1) {
                            if (Number(this.editedItem.settings.tariff) > 0) {
                                let sumExcept = await new Promise((resolve)=>{
                                    this.loadSave = true;
                                    this.$post(this.api,{
                                        rout: 'access',
                                        func: 'getSumExcept',
                                        project: this.changeProject,
                                        companyID: this.company.id
                                    }).then(json=>{
                                        resolve(json.sum);
                                    }).catch(()=>{
                                        console.error(error);
                                        this.$emit('message', 'Ошибка ответа сервера!');
                                        this.loadSave = false;
                                    });
                                });
                                this.loadSave = false;
                                if(sumExcept>0){
                                    let sum = sumExcept * this.editedItem.settings.tariff;
                                    await this.confirmDebit(sum);
                                }
                            }
                        } else {
                            this.editedItem.oldTariffSite = JSON.parse(this.companyAccess[this.editedIndex].settings).tariff;
                        }
                    }
                    if(this.editedItem.settings.hasOwnProperty('tariff'))this.editedItem.settings.tariff = String(this.getMoney(this.editedItem.settings.tariff));
                    this.loadSave = true;
                    this.$post(this.api, {
                        rout: 'access',
                        func: 'setAccess',
                        companyID: this.company.id,
                        data: JSON.stringify(this.editedItem),
                    }).then(json => {
                        //console.log(json);
                        if(json.error){
                            console.log(json.error);
                            this.$emit('message', json.error);
                        }else if (json.set==1) {
                            this.companyAccess = json.project;
                            console.log("Данные сохранены!");
                            this.$emit('message', 'Данные сохранены!', 'success');
                            this.close(true);
                            this.$emit('companyEdit',json.company);
                        }else if(json.set==2){
                            console.log("Недостаточно средств!");
                            this.$emit('message', 'Недостаточно средств!');
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка записи в базу!');
                        }
                    }).catch((error) => {
                        console.error(error);
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadSave = false;
                    });
                }
            },
            validate() {
                this.$refs.form.validate()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
            async delItem(item){
                await new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Подтвердите удаление',
                        text:'Вы уверены что хотите удалить запись?',
                        action: resolve
                    })
                });
                    const index = this.companyAccess.indexOf(item);
                    this.loadDel = true;
                    this.$post(this.api, {
                        rout: 'access',
                        func: 'deleteAccess',
                        companyID: this.company.id,
                        data: JSON.stringify(item),
                    }).then(json => {
                        //console.log(json);
                        if (json.set) {
                            this.companyAccess.splice(index, 1);
                            console.log("Успешно удалено!");
                            this.$emit('message', 'Запись удалена!', 'success');
                            this.$emit('companyEdit',json.company);
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка на сервере!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadDel = false;
                    });
            },
        },
    }
</script>

<style>
    .hc_my_search .v-input__slot{
        padding: 0 16px !important;
    }
</style>
