<template>
    <v-container fluid class="d-flex justify-center align-center" style="height: 100%;">
        <v-card width="100%" max-width="300px">
            <v-card-title class="primary" style="color:white;">
                Авторизация
            </v-card-title>
            <v-form @submit="loginIn">
            <v-card-text class="pb-0 pt-6">
                <v-text-field
                        v-model="login"
                        label="Логин"
                        name="login"
                        prepend-icon="mdi-login-variant"
                        type="text"
                        outlined
                        dense
                />
                <v-text-field
                        v-model="password"
                        id="password"
                        label="Пароль"
                        name="password"
                        prepend-icon="mdi-textbox-password"
                        type="password"
                        outlined
                        dense
                />
            </v-card-text>
            <div class="d-flex pa-4 pt-0">
                <v-spacer/>
                <v-btn type="submit" color="primary" @click="loginIn" :loading="loading" :disabled="loading">Войти</v-btn>
            </div>
            </v-form>
        </v-card>
    </v-container>
</template>

<script>
    import MD5 from '../lib/md5.js';
    export default {
        name: "auth",
        model: {
            prop: 'value',
            event: 'change',
        },
        props: {
            value: Boolean,
            api: String,
        },
        data() {
            return {
                login: '',
                password: '',
                loading: false,
            };
        },
        mounted() {},
        computed: {
            auth: {
                get() {
                    return this.value;
                },
                set(value) {
                    this.$emit('change', value);
                }
            },
        },
        watch: {},
        methods: {
            loginIn(e) {
                e.preventDefault();
                if(navigator.onLine) {
                    this.loading = true;
                    let pass = MD5(this.password);
                    this.$post(this.api, {
                        rout: "auth",
                        func: "setAuth",
                        login: this.login,
                        password: pass,
                    }).then(json => {
                        //console.log(json);
                        if (json.auth) {
                            if (json.info.access < 1.2) {
                                this.$emit('message', 'У вас не достаточно прав!');
                            } else {
                                localStorage.setItem("auth", JSON.stringify(json));
                                this.$store.dispatch('set', {prop: "auth", value: json});
                                this.$emit('authServer');
                                this.auth = true;
                            }
                        } else {
                            this.$emit('message', 'Неверный логин или пароль!');
                        }
                    }).catch(error => {
                        console.log("Ошибка ответа сервера!", error);
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loading = false;
                    });
                }else{
                    this.$emit('message', 'Нет сети!');
                }
            },
        },
    }
</script>

<style></style>