<template>
  <v-data-table
      :items="items"
      :headers="headers"
      :loading="loading || loadDel"
      :search="search"
  >
    <template v-slot:top>
      <div class="d-flex">
        <v-toolbar-title class="d-flex align-center mx-4">
          <span class="text-truncate">Компании</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-divider vertical/>
        <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Поиск"
            single-line
            hide-details
            solo
            flat
            clearable
            style="max-width: 350px;"
        ></v-text-field>
        <template v-if="access>=2">
        <v-divider vertical/>
          <v-toolbar-items>
            <v-btn text @click="dialog=true" :disabled="loadDel" title="Добавить">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-toolbar-items>
        </template>
        <v-dialog
            v-model="dialog"
            max-width="500px"
            @click:outside="close()"
            persistent
            :no-click-animation="!loadSave"
        >
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }} компанию</span>
            </v-card-title>
            <v-card-text style="padding-bottom:0;">
              <v-container style="padding:0;">
                <v-form
                    ref="form"
                    v-model="valid"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                          :rules="nameRules"
                          v-model="editedItem.name"
                          label="Имя компании"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                          :rules="nameRules"
                          v-model="editedItem.INN"
                          label="ИНН"
                          @input="inputINN"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                          :rules="nameRules"
                          v-model="editedItem.KPP"
                          label="КПП"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" v-if="someINN">
                      <v-checkbox
                              v-model="editedItem.head"
                              label="Головная"
                              true-value="1"
                              false-value="0"
                      ></v-checkbox>
                    </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="close()"
                  :disabled="loadSave"
              >Отмена
              </v-btn>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                  :disabled="loadSave"
                  :loading="loadSave"
              >Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog
              v-model="dialogDel"
              max-width="400px"
      >
        <v-card>
          <v-card-title>
            <span class="headline">Внимание!!!</span>
          </v-card-title>
          <v-card-text style="padding-bottom:0;">
            <p class="mb-0">Данная организация назначена пользователям. Укажите для них другую компанию</p>
            <v-container style="padding:0;">
              <v-form
                      ref="form2"
                      v-model="valid2"
              >
                <v-row>
                  <v-col cols="12">
                    <v-autocomplete
                            :rules="nameRules"
                            :items="fcompany"
                            v-model="idCompanyNew"
                            item-value="id"
                            item-text="name"
                            label="Компания"
                            clearable
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                    color="blue darken-1"
                    text
                    @click="dialogDel=false"
            >Отмена
            </v-btn>
            <v-btn
                    color="blue darken-1"
                    text
                    @click="deleteStep2(idCompanyNew)"
            >Сохранить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
        <v-dialog
                v-model="dialogMig"
                max-width="400px"
        >
          <v-card>
            <v-card-title>
              <span class="headline">Внимание!!!</span>
            </v-card-title>
            <v-card-text style="padding-bottom:0;">
              <p class="mb-0">Данная компяния являлась головной. Выберите новую головную компанию</p>
              <v-container style="padding:0;">
                <v-form
                        ref="form3"
                        v-model="valid3"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-autocomplete
                              :rules="nameRules"
                              :items="companyChild"
                              v-model="companyHead"
                              item-value="id"
                              item-text="name"
                              label="Компания"
                              clearable
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                      color="blue darken-1"
                      text
                      @click="dialogMig=false"
              >Отмена
              </v-btn>
              <v-btn
                      color="blue darken-1"
                      text
                      @click="methodHead"
              >Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog
                v-if="dialogBalance"
                v-model="dialogBalance"
                max-width="400px"
                @click:outside="closeBalance()"
                persistent
                :no-click-animation="!loadBalance"
        >
          <v-card>
            <v-card-title>
              <span class="headline text-truncate">Пополнить баланс</span>
            </v-card-title>
            <v-card-subtitle class="pt-2 pb-0 text-truncate">{{curCompany.name}}</v-card-subtitle>
            <v-card-text style="padding-bottom:0;">
              <v-container style="padding:0;">
                <v-form
                        ref="form4"
                        v-model="valid4"
                        @submit.prevent="addBalance()"
                >
                  <v-row>
                    <v-col cols="12">
                      <hc-float-field
                              v-model="sumAddBalance"
                              :options="{
                                  rules: nameRulesFloat,
                                  label: 'Сумма пополнения (руб)',
                              }"
                      ></hc-float-field>
                    </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                      color="blue darken-1"
                      text
                      @click="closeBalance()"
                      :disabled="loadBalance"
              >Отмена
              </v-btn>
              <v-btn
                      color="blue darken-1"
                      text
                      @click="addBalance()"
                      :disabled="loadBalance"
                      :loading="loadBalance"
              >
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <access
                v-if="dialogAccess"
                v-model="dialogAccess"
                :api="api"
                :project="project"
                :company="curCompany"
                @message="message"
                @companyEdit="$emit('companyEdit',$event)"
        />
        <services
                v-if="dialogServices"
                v-model="dialogServices"
                :api="api"
                :company="curCompany"
                @message="message"
                @companyEdit="$emit('companyEdit',$event)"
        />
        <company-objects
                v-if="dialogShare"
                v-model="dialogShare"
                :api="api"
                :objects="objects"
                :company="curCompany"
                @message="message"
        />
        <company-token
                v-if="dialogToken"
                v-model="dialogToken"
                :company="curCompany"
                @companyEdit="$emit('companyEdit',$event)"
        />
      </div>
      <v-divider/>
    </template>
    <template v-slot:item.head="{item}">
      <v-icon v-if="item.head=='1'" color="green">mdi-check-circle</v-icon>
    </template>
    <template v-slot:item.lock="{item}">
      <v-chip v-if="item.lock=='0'" color="success" small>Активна</v-chip>
      <v-chip v-else color="error" small>Заблокирована</v-chip>
    </template>
    <template v-slot:item.balance="{item}">
      {{getMoney(item.balance)}}
    </template>
    <template v-slot:item.tariff="{item}">
      {{getMoney(item.tariff)}}
    </template>
    <template v-slot:item.actions={item}>
      <div style="white-space: nowrap;">
        <v-menu bottom left>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                    x-small
                    icon
                    v-bind="attrs"
                    v-on="on"
                    :disabled="loadDel"
            >
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list dense>
            <v-list-item v-if="access>=2" @click="editItem(item)">
              <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-pencil</v-icon>Редактировать</v-list-item-title>
            </v-list-item>
            <v-list-item @click="editPList(item)">
              <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-lock-open</v-icon>Доступные услуги</v-list-item-title>
            </v-list-item>
            <v-list-item @click="openBalance(item)">
              <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-wallet-plus</v-icon>Пополнить баланс</v-list-item-title>
            </v-list-item>
            <v-list-item @click="editServices(item)">
              <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-cloud-check</v-icon>Сервисы</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="access>=2" @click="editObjList(item)">
              <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-domain</v-icon>Объекты</v-list-item-title>
            </v-list-item>
<!--            <v-list-item v-if="access>=1.5" @click="editTokenList(item)">-->
<!--              <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-car</v-icon>Токены wialon</v-list-item-title>-->
<!--            </v-list-item>-->
            <v-list-item v-if="access>=2" @click="deleteItem(item)">
              <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-delete</v-icon>Удалить</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </template>
  </v-data-table>
</template>

<script>
  import hcFloatField from "./hcFloatField";
export default {
  name: "company",
  components: {
    access: () => import('./access'),
    services: () => import('./services'),
    companyObjects: () => import('./companyObjects'),
    companyToken: () => import('./companyToken'),
    hcFloatField
  },
  props: {
    api:String,
    company:Array,
    loading:Boolean,
    project:Array,
    objects:Array,
  },
  data() {
    return {
      headers: [
        {text: "ID", value: "id"},
        {text: "Компания", value: "name"},
        {text: "ИНН", value: "INN"},
        {text: "КПП", value: "KPP"},
        {text: "Головная", value: "head"},
        {text: "Статус", value: "lock"},
        {text: "Баланс (руб)", value: "balance", align: "right", sortable: false},
        {text: "Тариф (руб)", value: "tariff", align: "right", sortable: false},
        {text: "Действия", value: "actions", align: "right", sortable: false},
      ],
      search: '',
      dialog: false,
      editedIndex: -1,
      editedItem: {
        id: '',
        name: '',
        INN: '',
        KPP: '',
        head: '1',
      },
      defaultItem: {
        id: '',
        name: '',
        INN: '',
        KPP: '',
        head: '1',
      },
      valid: false,
      nameRules: [
        v => !!v || 'Обязательное поле',
      ],
      loadSave: false,
      loadDel: false,
      dialogDel: false,
      idCompanyNew: 0,
      valid2:false,
      curCompanyID: 0,
      dialogAccess: false,
      dialogMig:false,
      valid3: false,
      companyHead: '',
      methodHead:()=>{},
      dialogBalance:false,
      loadBalance:false,
      valid4:false,
      sumAddBalance:'',
      nameRulesFloat: [
        v => !!v || 'Обязательное поле',
        v => ( !isNaN(Number(v)) && ( Number.isInteger(Number(v)) || v.split('.')[1].length<=2 ) ) || 'Некорректный ввод',
        v => Number(v)>0 || 'Не может быть 0'
      ],
      dialogServices:false,
      dialogShare: false,
      dialogToken: false,
    };
  },
  mounted() {},
  computed: {
    curCompany(){
      return this.items.find(i=>i.id==this.curCompanyID);
    },
    companyChild(){
      return (this.editedIndex!=-1) ? this.items.filter(i=>i.INN==this.items[this.editedIndex].INN && i.head!='1') : [];
    },
    someINN(){
      return this.items.some(i=>i.INN==this.editedItem.INN && (!this.editedItem.id || this.editedItem.id!=i.id));
    },
    formTitle() {
      return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
    },
    items:{
      get(){
        return (this.access==1.5)
                ? (this.$store.state.auth.info.companyHead==1)
                        ? this.company.filter(i=>i.INN==this.$store.state.auth.info.INN)
                        : this.company.filter(i=>i.id==this.$store.state.auth.info.companyID)
                : this.company;
      },
      set(val){
        this.$emit('companyEdit',val);
      }
    },
    fcompany() {
      return this.items.filter((e,i)=>i!=this.editedIndex);
    },
    access() {
      return this.$store.state.auth.info.access;
    },
  },
  watch: {
    dialogMig(val){
      if(!val)this.companyHead = '';
    },
    dialogDel(val){
      if(!val)this.idCompanyNew = 0;
    },
  },
  methods: {
    editObjList(item) {
      this.curCompanyID = item.id;
      this.dialogShare = true;
    },
    editTokenList(item) {
      this.curCompanyID = item.id;
      this.dialogToken = true;
    },
    closeBalance(save = false){
      if (!save && this.loadBalance) return false;
      this.dialogBalance = false;
      this.sumAddBalance = '';
      this.curCompanyID = 0;
      this.$refs.form4.resetValidation();
    },
    openBalance(item){
      if(this.access<2){
        this.$emit('message', 'Функция в разработке');
        return false;
      }
      this.curCompanyID = item.id;
      this.dialogBalance = true;
    },
    async addBalance(){
      this.$refs.form4.validate();
      if (this.valid4 && !this.loadBalance) {
        await new Promise((resolve)=>{
          this.$store.dispatch('confirm',{
            head:'Подтвердите действие',
            text:'Вы уверены что хотите пополнить счёт?',
            action: resolve
          })
        });
        this.loadBalance = true;
        this.$post(this.api, {
          rout: 'company',
          func: 'addBalance',
          companyID: this.curCompanyID,
          sum: this.sumAddBalance,
        }).then(json => {
          //console.log(json);
          if (json.set) {
            console.log("Данные сохранены!");
            this.$emit('message', 'Данные сохранены!', 'success');
            this.closeBalance(true);
            this.items = json.company;
          } else {
            console.error("Ошибка записи в базу!");
            this.$emit('message', 'Ошибка записи в базу!');
          }
        }).catch((error) => {
          console.error(error);
          this.$emit('message', 'Ошибка ответа сервера!');
        }).finally(() => {
          this.loadBalance = false;
        });
      }
    },
    getMoney(sum){
      sum = parseFloat(sum);
      return Number.isInteger(sum) ? sum : sum.toFixed(2);
    },
    inputINN(){
      if(!this.someINN)this.editedItem.head = '1';
      else this.editedItem.head = (!this.editedItem.id || this.items[this.editedIndex].INN!=this.editedItem.INN) ? '0' : this.items[this.editedIndex].head;
    },
    editItem(item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    async deleteItem(item) {
      await new Promise((resolve)=>{
        this.$store.dispatch('confirm',{
          head:'Подтвердите удаление',
          text:'Вы уверены что хотите удалить запись?',
          action: resolve
        })
      });
      this.editedIndex = this.items.indexOf(item);
      this.loadDel = true;
      let some = await this.$post(this.api,{
        rout:'company',
        func:'someUsers',
        companyID:item.id
      });
      this.loadDel = false;
      if(some.exist){
        this.dialogDel = true;
        if(this.$refs.form2)this.$refs.form2.resetValidation();
      }else this.deleteStep2();
    },
    deleteStep2(newCompUsers=0) {
      if(this.dialogDel && this.$refs.form2) {
        this.$refs.form2.validate();
        if (!this.valid2) return false;
        this.dialogDel = false;
      }
      let item = this.items[this.editedIndex];
      //Если головная компания
      if(
              item.head == '1'
              && this.items.some(i => i.INN == item.INN && i.head != '1')
      ){
        this.methodHead = ()=>this.deleteStep3(newCompUsers,this.companyHead);
        this.dialogMig = true;
        if (this.$refs.form3) this.$refs.form3.resetValidation();
      }else this.deleteStep3(newCompUsers);
    },
    deleteStep3(newCompUsers,newCompHead=''){
      if(this.dialogMig && this.$refs.form3) {
        this.$refs.form3.validate();
        if (!this.valid3) return false;
        this.dialogMig = false;
      }
      let item = this.items[this.editedIndex];
      //Отправка
      this.loadDel = true;
      this.$post(this.api, {
        rout: 'company',
        func: 'deleteCompany',
        id: item.id,
        idCompanyNew: newCompUsers,
        newHead: newCompHead,
      }).then(json => {
        console.log(json);
        if (json.set) {
          this.items = json.company;
          console.log("Успешно удалено!");
          this.$emit('message', 'Запись удалена!', 'success');
        } else {
          console.error("Ошибка на сервере!");
          this.$emit('message', 'Ошибка на сервере!');
        }
      }).catch((error) => {
        console.error("Ошибка ответа сервера!");
        this.$emit('message', 'Ошибка ответа сервера!');
      }).finally(() => {
        this.editedIndex = -1;
        this.loadDel = false;
      });
    },
    async close(save = false) {
      if (!save && this.loadSave) return false;
      if (!save) {
        let str = (this.editedIndex !== -1) ? this.items.find(i => i.id == this.editedItem.id) : this.defaultItem;
        if (JSON.stringify(this.editedItem) != JSON.stringify(str)) {
          await new Promise((resolve) => {
            this.$store.dispatch('confirm', {
              text: 'Есть изменения! Всё равно закрыть?',
              action: resolve
            })
          });
        }
      }
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.resetValidation();
      }, 300)
    },
    async saveStep2(newCompHead=''){
      if(this.dialogMig && this.$refs.form3) {
        this.$refs.form3.validate();
        if (!this.valid3) return false;
        this.dialogMig = false;
      }
      //Если пытаемся переназначить головную компанию
      let headCompany = this.items.find(i=>
              i.INN==this.editedItem.INN
              && i.head=='1'
              && i.id!=this.editedItem.id
      );
      if (this.editedItem.head == '1' && !!headCompany) {
        await new Promise((resolve) => {
          this.$store.dispatch('confirm', {
            text: `Головная компания «${headCompany.name}». Переназначить?`,
            action: resolve
          })
        });
      }
      //отправляем данные на сервер
      this.loadSave = true;
      this.$post(this.api, {
        rout: 'company',
        func: 'setCompany',
        data: JSON.stringify(this.editedItem),
        newHead:newCompHead,
      }).then(json => {
        console.log(json);
        if (json.set == 1) {
          this.close(true);
          this.items = json.data;
          console.log("Успешно сохранено!");
          this.$emit('message', 'Данные сохранены!', 'success');
        } else if (json.set == 2) {
          console.error("Компания существует!");
          this.$emit('message', 'Такая компания уже существует!');
        } else {
          console.error("Ошибка записи в базу!");
          this.$emit('message', 'Ошибка записи в базу!');
        }
      }).catch(error => {
        console.error("Ошибка ответа сервера!",error);
        this.$emit('message', 'Ошибка ответа сервера!');
      }).finally(() => {
        this.loadSave = false;
      });
    },
    save() {
      this.validate();
      if (!this.valid)return false;
      //Если головная компания мигрирует
      if(
              this.editedItem.id
              && (this.items[this.editedIndex].INN!=this.editedItem.INN || this.items[this.editedIndex].head!=this.editedItem.head)
              && this.items[this.editedIndex].head == '1'
              && this.items.some(i=>i.INN==this.items[this.editedIndex].INN && i.head!='1')
      ){
        this.methodHead = ()=>this.saveStep2(this.companyHead);
        this.dialogMig = true;
        if(this.$refs.form3)this.$refs.form3.resetValidation();
      }else this.saveStep2();
    },
    validate() {
      this.$refs.form.validate();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    editPList(item) {
      this.curCompanyID = item.id;
      this.dialogAccess = true;
    },
    editServices(item) {
      this.curCompanyID = item.id;
      this.dialogServices = true;
    },
    message(p1, p2) {
      this.$emit("message", p1, p2);
    },
  },
}
</script>
