<template>
    <v-dialog
            v-model="dialog"
            max-width="800px"
            scrollable
            :persistent="loadSave"
    >
        <v-card tile>
            <div
                    class="d-flex"
            >
                <v-toolbar-title class="d-flex align-center mx-4">
                    <span class="text-truncate">{{company.name}}</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-divider vertical/>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        clearable
                        style="max-width: 300px;border-radius: 0;"
                        solo
                        flat
                ></v-text-field>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialogEdit=true" :disabled="loadDel || loading" title="Добавить">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar-items>
                <v-dialog
                        v-if="dialogEdit"
                        v-model="dialogEdit"
                        max-width="500px"
                        @click:outside="close()"
                        persistent
                        :no-click-animation="!loadSave"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }} токен</span>
                        </v-card-title>

                        <v-card-text style="padding-bottom:0;">
                            <v-container style="padding:0;">
                                <v-form
                                        ref="form"
                                        v-model="valid"
                                >
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.host"
                                                    label="Хост"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.token"
                                                    label="Токен"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.description"
                                                    label="Описание"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close()"
                                    :disabled="loadSave"
                            >Отмена
                            </v-btn>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="save"
                                    :disabled="loadSave"
                                    :loading="loadSave"
                            >Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialog=false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </div>
            <v-divider/>
            <v-card-text class="pa-0">
                <v-data-table
                        :items="items"
                        :headers="headers"
                        :loading="loading || loadDel"
                        :search="search"
                >
                    <template v-slot:item.actions={item}>
                        <div style="white-space: nowrap;">
                            <v-btn
                                    icon
                                    x-small
                                    class="ml-2"
                                    @click="editItem(item)"
                                    :disabled="loadDel"
                                    title="Редактировать"
                            >
                                <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                            <v-btn
                                    icon
                                    x-small
                                    class="ml-2"
                                    @click="deleteItem(item)"
                                    :disabled="loadDel"
                                    title="Удалить"
                            >
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                        </div>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "companyToken",
        model: {
            prop: 'value',
            event: 'change',
        },
        props: {
            company: Object,
            value: Boolean,
        },
        data() {
            return {
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Описание", value: "description"},
                    {text: "Добавлено", value: "dateTime"},
                    {text: "Кол-во машин", value: "countAuto"},
                    {text: "Действия", value: "actions", align: "right", sortable: false},
                ],
                search: '',
                dialogEdit: false,
                editedIndex: -1,
                editedItem: {
                    host: '',
                    token: '',
                    description: '',
                },
                defaultItem: {
                    host: '',
                    token: '',
                    description: '',
                },
                valid: false,
                nameRules: [
                    v => !!v || 'Обязательное поле',
                ],
                loadSave: false,
                loadDel: false,
                items:[],
                loading: false,
            };
        },
        mounted() {
            this.init();
        },
        computed: {
            dialog: {
                get() {
                    return this.value;
                },
                set(value) {
                    this.$emit('change', value);
                }
            },
            formTitle() {
                return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
            },
            api(){
                return this.$store.state.api.urlAuth;
            },
            wialonapi(){
                return this.$store.state.apiFull.wialon;
            },
        },
        methods: {
            init() {
                this.loading = true;
                this.$post(this.wialonapi, {
                    api:'WialonTokens',
                    action:'get',
                    params: JSON.stringify({
                        INN:this.company.INN,
                        KPP:this.company.KPP,
                    })
                }).then(json => {
                    //console.log(json);
                    this.items = json.data;
                }).catch((error) => {
                    console.error(error);
                    this.$emit('message', 'Ошибка ответа сервера!');
                }).finally(() => {
                    this.loading = false;
                });
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialogEdit = true;
            },
            async deleteItem(item){
                await new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Подтвердите удаление',
                        text:'Вы уверены что хотите удалить запись?',
                        action: resolve
                    })
                });
                this.loadDel = true;
                await new Promise((resolve)=>{
                    this.$post(this.api,{
                        rout: 'companyAuto',
                        func: 'existAuto',
                        companyID: this.company.id,
                        token: item.token,
                    }).then(json=>{
                        if(json.exist){
                            this.$store.dispatch('notify','Невозможно удалить токен, есть авто привязанные к компании!');
                            this.loadDel = false;
                        }else resolve();
                    }).catch((error) => {
                        this.$store.dispatch('notify','Ошибка ответа сервера!');
                        this.loadDel = false;
                    });
                });
                this.$post(this.wialonapi, {
                    api: 'WialonTokens',
                    action: 'delete',
                    params: JSON.stringify({
                        id: item.id,
                        INN:this.company.INN,
                        KPP:this.company.KPP,
                    }),
                }).then(json => {
                    //console.log(json);
                    if (json.success) {
                        this.items.splice(this.items.indexOf(item),1);
                        console.log("Успешно удалено!");
                        this.$store.dispatch('notify',{text:'Запись удалена!',color:'success'});
                    } else {
                        console.error("Ошибка записи в базу!");
                        this.$store.dispatch('notify','Ошибка на сервере!');
                    }
                }).catch((error) => {
                    console.error("Ошибка ответа сервера!");
                    this.$store.dispatch('notify','Ошибка ответа сервера!');
                }).finally(() => {
                    this.loadDel = false;
                });
            },
            async close(save = false) {
                if (!save && this.loadSave) return false;
                if (!save) {
                    let str = (this.editedIndex !== -1) ? this.items[this.editedIndex] : this.defaultItem;
                    if (JSON.stringify(this.editedItem) != JSON.stringify(str)) {
                        await new Promise((resolve) => {
                            this.$store.dispatch('confirm', {
                                text: 'Есть изменения! Всё равно закрыть?',
                                action: resolve
                            })
                        });
                    }
                }
                this.dialogEdit = false;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
                this.resetValidation();
            },
            async save() {
                this.validate();
                if (this.valid && !this.loadSave) {
                    this.loadSave = true;
                    if(this.editedIndex !== -1 && this.editedItem.token!=this.items[this.editedIndex].token) {
                        await new Promise((resolve) => {
                            this.$post(this.api, {
                                rout: 'companyAuto',
                                func: 'existAuto',
                                companyID: this.company.id,
                                token: this.items[this.editedIndex].token,
                            }).then(json => {
                                if (json.exist) {
                                    this.$store.dispatch('notify', 'Невозможно изменить токен, есть авто привязанные к компании!');
                                    this.loadSave = false;
                                } else resolve();
                            }).catch((error) => {
                                this.$store.dispatch('notify', 'Ошибка ответа сервера!');
                                this.loadSave = false;
                            });
                        });
                    }
                    this.$post(this.wialonapi, {
                        api: 'WialonTokens',
                        action: 'set',
                        params: JSON.stringify({
                            ...this.editedItem,
                            INN:this.company.INN,
                            KPP:this.company.KPP,
                        }),
                    }).then(json => {
                        //console.log(json);
                        if (json.success) {
                            if(this.editedItem.id){
                                this.items = this.items.map(i=>{
                                    return (i.id==this.editedItem.id) ? {...this.editedItem} : i;
                                });
                            }else {
                                this.items.unshift({
                                    ...this.editedItem,
                                    ...json.data[0]
                                });
                            }
                            this.close(true);
                            console.log("Успешно сохранено!");
                            this.$store.dispatch('notify',{text:'Данные сохранены!',color:'success'});
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$store.dispatch('notify','Ошибка записи в базу!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$store.dispatch('notify','Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadSave = false;
                    });
                }
            },
            validate() {
                this.$refs.form.validate()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
        },
    }
</script>
