<template>
    <v-dialog
            v-model="dialog"
            max-width="800px"
            scrollable
    >
        <v-card tile>
            <div class="d-flex">
                <v-toolbar-title class="d-flex align-center mx-4">
                    <span class="text-truncate">СКР</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-divider vertical/>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        clearable
                        style="max-width: 300px;border-radius: 0;"
                        solo
                        flat
                ></v-text-field>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialogEdit=true">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar-items>
                <v-dialog
                        v-if="dialogEdit"
                        v-model="dialogEdit"
                        max-width="500px"
                        @click:outside="close()"
                        persistent
                        :no-click-animation="!loadSave"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }} ключ</span>
                        </v-card-title>

                        <v-card-text style="padding-bottom:0;">
                            <v-container style="padding:0;">
                                <v-form
                                        ref="form"
                                        v-model="valid"
                                        @submit.prevent="save()"
                                >
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field
                                                    v-model="editedItem.key"
                                                    label="Ключ"
                                                    :rules="nameRules"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                    v-model="editedItem.description"
                                                    label="Описание"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close()"
                                    :disabled="loadSave"
                            >Отмена
                            </v-btn>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="save"
                                    :disabled="loadSave"
                                    :loading="loadSave"
                            >Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialog=false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </div>
            <v-divider/>
            <v-card-text class="pa-0">
                <v-data-table
                        :items="companySKR"
                        :headers="headers"
                        :loading="loading || loadDel"
                        :search="search"
                >
                    <template v-slot:item.tariff="{item}">
                        {{getMoney(companyInfo.tariffEd)}}
                    </template>
                    <template v-slot:item.actions={item}>
                        <div style="white-space: nowrap;">
                            <v-btn
                                    icon
                                    x-small
                                    class="ml-2"
                                    @click="editItem(item)"
                                    :disabled="loadDel"
                                    title="Редактировать"
                            >
                                <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                            <v-btn
                                    icon
                                    x-small
                                    class="ml-2"
                                    @click="deleteItem(item)"
                                    :disabled="loadDel"
                                    title="Удалить"
                            >
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                        </div>
                    </template>
                </v-data-table>
            </v-card-text>
            <template>
                <v-divider/>
                <div class="d-flex align-center" style="height: 48px;">
                    <v-spacer></v-spacer>
                    <v-divider vertical/>
                    <div style="font-size: 18px;" class="text-truncate px-4">
                        <span>Тариф:</span>
                        <span class="text-h6 font-weight-bold mx-1">{{getMoney(companyInfo.tariffEd)}}</span>
                        <span>р.</span>
                    </div>
                    <v-divider vertical/>
                    <div style="font-size: 18px;" class="text-truncate px-4">
                        <span>Итого:</span>
                        <span class="text-h6 font-weight-bold mx-1">{{getMoney(companyInfo.tariffProject)}}</span>
                        <span>р.</span>
                    </div>
                </div>
            </template>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "companySKR",
        model: {
            prop: 'value',
            event: 'change',
        },
        props: {
            company: Object,
            project: Object,
            value: Boolean,
        },
        data() {
            return {
                loadSave: false,
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Ключ", value: "key"},
                    {text: "Описание", value: "description"},
                    {text: "Тариф (руб/день)", value: "tariff", align: "right", sortable: false},
                    {text: "Действия", value: "actions", align: "right", sortable: false},
                ],
                search:'',
                editedIndex: -1,
                editedItem:{
                    id:'',
                    key:'',
                    description:'',
                },
                defaultItem:{
                    id:'',
                    key:'',
                    description:'',
                },
                loading:false,
                companySKR:[],
                loadDel:false,
                dialogEdit: false,
                valid: false,
                nameRules: [
                    v => !!v || 'Обязательное поле',
                ],
            };
        },
        mounted() {
            this.init();
        },
        computed: {
            dialog: {
                get() {
                    return this.value;
                },
                set(value) {
                    this.$emit('change', value);
                }
            },
            formTitle() {
                return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
            },
            companyInfo(){
                return {
                    id: this.company.id,
                    balance: this.company.balance,
                    tariffCompany: this.company.tariff,
                    tariffProject: this.project.tariff,
                    tariffEd: JSON.parse(this.project.settings).tariff,
                };
            },
            api(){
                return this.$store.state.api.urlAuth;
            },
        },
        methods: {
            getMoney(sum){
                sum = parseFloat(sum);
                return Number.isInteger(sum) ? sum : sum.toFixed(2);
            },
            init() {
                //получение списков: все ключи компании, подключенные ключи
                this.loading = true;
                this.$post(this.api, {
                    rout: 'companySKR',
                    func: 'get',
                    companyID: this.company.id,
                }).then(json => {
                    //console.log(json);
                    this.companySKR = json;
                }).catch((error) => {
                    console.error(error);
                    this.$store.dispatch('notify','Ошибка ответа сервера!');
                }).finally(() => {
                    this.loading = false;
                });
            },
            close(save = false){
                if (!save && this.loadSave) return false;
                this.dialogEdit = false;
                this.editedItem = Object.assign({},this.defaultItem);
                this.editedIndex = -1;
                this.resetValidation();
            },
            editItem(item) {
                this.editedIndex = 1;
                this.editedItem = Object.assign({}, item);
                this.dialogEdit = true;
            },
            confirmDebit(sum){
                return new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Внимание!!!',
                        text:`Со счёта компании будет списана сумма ${this.getMoney(sum)} р. Подтвердите действие!`,
                        action: ()=>{resolve()}
                    });
                });
            },
            async save() {
                this.validate();
                if (this.valid && !this.loadSave) {
                    if(this.editedIndex==-1){
                        let tariff = this.companyInfo.tariffEd;
                        if(Number(tariff)>0){
                            await this.confirmDebit(tariff);
                        }
                    }
                    this.loadSave = true;
                    this.$post(this.api, {
                        rout: 'companySKR',
                        func: 'set',
                        data: JSON.stringify(this.editedItem),
                        companyID: this.company.id,
                    }).then(json => {
                        //console.log(json);
                        if (json.error) {
                            console.error(json.error);
                            this.$store.dispatch('notify', json.error);
                        } else if (json.set) {
                            this.companySKR = json.data;
                            this.$emit('changeCompany', json.company);
                            this.$emit('changeAccess', json.access);
                            this.close(true);
                            console.log("Успешно сохранено!");
                            this.$store.dispatch('notify', {text: 'Данные сохранены!', color: 'success'});
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$store.dispatch('notify', 'Ошибка записи в базу!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$store.dispatch('notify', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadSave = false;
                    });
                }
            },
            validate() {
                this.$refs.form.validate()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
            async deleteItem(item){
                await new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Подтвердите удаление',
                        text:'Вы уверены что хотите удалить запись?',
                        action: resolve
                    })
                });
                this.loadDel = true;
                this.$post(this.api, {
                    rout: 'companySKR',
                    func: 'delete',
                    id: item.id,
                    companyID: this.company.id,
                }).then(json => {
                    //console.log(json);
                    if (json.set) {
                        this.companySKR = json.data;
                        this.$emit('changeCompany',json.company);
                        this.$emit('changeAccess',json.access);
                        console.log("Успешно удалено!");
                        this.$store.dispatch('notify',{text:'Запись удалена!',color:'success'});
                    } else {
                        console.error("Ошибка записи в базу!");
                        this.$store.dispatch('notify','Ошибка на сервере!');
                    }
                }).catch((error) => {
                    console.error("Ошибка ответа сервера!");
                    this.$store.dispatch('notify','Ошибка ответа сервера!');
                }).finally(() => {
                    this.loadDel = false;
                });
            },
        },
    }
</script>

<style>
    .hc_my_search .v-input__slot{
        padding: 0 16px !important;
    }
</style>
