<template>
    <v-data-table
            :items="items"
            :headers="headers"
            :loading="loading"
            :search="search"
    >
        <template v-slot:top>
            <div class="d-flex">
                <v-toolbar-title class="d-flex align-center mx-4">
                    <span class="text-truncate">Смартфоны</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-divider vertical/>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        solo
                        flat
                        clearable
                        style="max-width: 350px;"
                ></v-text-field>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="init()" :disabled="loading" title="Обновить">
                        <v-icon :class="{'anim_rot': loading}">mdi-sync</v-icon>
                    </v-btn>
                </v-toolbar-items>
                <v-dialog
                        v-model="dialog"
                        max-width="400px"
                        @click:outside="close()"
                        persistent
                        :no-click-animation="!loadUpd"
                >
                    <v-card>
                        <v-card-title>
                            <div class="text-truncate">Подтвердите действие</div>
                        </v-card-title>
                        <v-card-text>Выполнить принудительное обновление?</v-card-text>
                        <v-card-actions class="pt-0 pb-4 px-4">
                            <v-spacer/>
                            <v-btn text color="primary" @click="close()" :disabled="loadUpd" small>Отмена</v-btn>
                            <v-btn text color="primary" @click="updApp()" :disabled="loadUpd" :loading="loadUpd" small>Да</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
            <v-divider/>
        </template>
      <template v-slot:item.surName="{item}">
          <template v-if="item.userID">[{{item.userID}}] {{item.surName}} {{item.firstName[0]}}. {{item.lastName[0]}}.</template>
      </template>
      <template v-slot:item.online="{item}">
        <v-chip v-if="item.online=='0'" small color="error">Не в сети</v-chip>
        <v-chip v-else small color="success">В сети</v-chip>
      </template>
        <template v-slot:item.actions={item}>
            <div style="white-space: nowrap;">
                <v-btn
                        icon
                        x-small
                        @click="updConfirm(item.IMEI)"
                        title="Обновить"
                        :disabled="loading"
                >
                    <v-icon>mdi-update</v-icon>
                </v-btn>
            </div>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        name: "device",
        props: {
            api: String,
        },
        computed:{
            access(){
                return this.$store.state.auth.info.access;
            },
            headers(){
                return this.headersAll.filter(i=>!i.hasOwnProperty('access') || i.access<=this.access)
            },
        },
        data() {
            return {
                items: [],
                loading: false,
                headersAll: [
                    {text: "ID", value: "id"},
                    {text: "IMEI", value: "IMEI"},
                    {text: "Пользователь", value: "surName"},
                    {text: "Компания", value: "company"},
                    //{text: "ИНН", value: "INN"},
                    //{text: "КПП", value: "KPP"},
                    {text: "Приложение", value: "app"},
                    //{text: "Время установки", value: "dateTime"},
                    {text: "Статус сети", value: "online"},
                    {text: "Версия", value: "verWeb"},
                    {text: "Действия", value: "actions", align: "right", sortable: false, access:3},
                ],
                search: '',
                dialog:false,
                IMEI:'',
                loadUpd:false,
            };
        },
        mounted() {
            this.init();
        },
        methods: {
            getDate(item){
              if(!item)return;
              let date = new Date(Number(item));
              let Y = date.getFullYear();
              let m = date.getMonth()+1;
              if(m<10)m='0'+m;
              let d = date.getDate();
              if(d<10)d='0'+d;
              let H = date.getHours();
              if(H<10)H='0'+H;
              let i = date.getMinutes();
              if(i<10)i='0'+i;
              let s = date.getSeconds();
              if(s<10)s='0'+s;
              return `${d}.${m}.${Y} ${H}:${i}:${s}`;
            },
            init() {
                if(!this.loading) {
                    this.loading = true;
                    this.$post(this.api, {
                        rout: 'device',
                        func: 'getDevice',
                    }).then(json => {
                        //console.log(json);
                        this.items = json;
                    }).catch((error) => {
                        console.error(error);
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loading = false;
                    });
                }
            },
            message(p1, p2) {
                this.$emit("message", p1, p2);
            },
            updConfirm(IMEI){
                this.IMEI = IMEI;
                this.dialog = true;
            },
            updApp(){
                if(!this.loadUpd) {
                    this.loadUpd = true;
                    this.$post(this.api, {
                        rout: 'device',
                        func: 'updDevice',
                        IMEI: this.IMEI
                    }).then(json => {
                        if (json.success) {
                            this.close(true);
                            this.$store.dispatch('notify', {text: 'Команда успешно отправлена!', color: 'success'});
                        } else {
                            this.$store.dispatch('notify', 'Что-то пошло не так!');
                        }
                    }).catch((error) => {
                        this.$store.dispatch('notify', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadUpd = false;
                    });
                }
            },
            close(save = false){
                if (!save && this.loadUpd) return false;
                this.IMEI = '';
                this.dialog = false;
            },
        },
    }
</script>

<style scoped>
    .anim_rot {
        animation-name: rot;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 1s;
    }
    @keyframes rot {
        100% {
            transform: rotate(-360deg);
        }
    }
</style>
