<template>
    <v-dialog
            v-model="dialog"
            max-width="400px"
    >
        <v-card>
            <v-card-title>
                <div class="text-truncate">{{content.head}}</div>
            </v-card-title>
            <v-card-text>{{content.text}}</v-card-text>
            <v-card-actions class="pt-0 pb-4 px-4">
                <v-spacer/>
                <v-btn text color="primary" @click="dialog=false" small>Отмена</v-btn>
                <v-btn text color="primary" @click="content.action();dialog=false;" small>Да</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name:"hcConfirm",
        computed:{
            content(){
                return this.$store.state.confirm;
            }
        },
        watch:{
            content(){
                this.dialog = true;
            },
        },
        data:()=>({
            dialog: false,
        }),
    }
</script>