<template>
    <v-dialog

            v-model="display"
            width="320"
            persistent
            no-click-animation
            @click:outside="close"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                    v-model="dateTime"
                    v-on="on"
                    readonly
                    v-bind="options"
            ></v-text-field>
        </template>
        <v-card>
            <v-card-text class="px-0 py-0">
                <v-tabs
                        fixed-tabs
                        v-model="activeTab"
                        background-color="primary"
                        dark
                >
                    <v-tab key="calendar">
                        <v-icon>mdi-calendar</v-icon>
                    </v-tab>
                    <v-tab key="timer">
                        <v-icon>mdi-clock</v-icon>
                    </v-tab>
                    <v-tab-item key="calendar">
                        <v-date-picker
                                style="border-radius: 0;"
                                v-model="date"
                                @input="activeTab = 1"
                                full-width
                                :max="maxDate"
                                :min="minDate"
                                :first-day-of-week="1"
                        />
                    </v-tab-item>
                    <v-tab-item key="timer">
                        <v-time-picker
                                style="border-radius: 0;"
                                ref="timer"
                                v-model="time"
                                full-width
                                format="24hr"
                                :max="maxT"
                                :min="minT"
                        />
                    </v-tab-item>
                </v-tabs>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="close">Отмена</v-btn>
                <v-btn color="primary" text @click="save">Сохранить</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: 'hc-datetime-picker',
        model: {
            prop: 'value',
            event: 'input'
        },
        props: {
            value: String,
            maxDate: String,
            maxTime: String,
            minDate: String,
            minTime: String,
            end: Boolean,
            options: Object,
        },
        data() {
            return {
                display: false,
                activeTab: 0,
                date: '',
                time: '',
            }
        },
        mounted() {
            this.init();
        },
        computed: {
            selectedDatetime(){
                return (this.date && this.time) ? this.date + ' ' + this.time : '';
            },
            dateTime: {
                get(){
                    return this.value;
                },
                set(val){
                    this.$emit('input', val);
                }
            },
            maxT(){
                return (Date.parse(this.date)===Date.parse(this.maxDate)) ? this.maxTime : undefined;
            },
            minT(){
                return (this.end && Date.parse(this.date)===Date.parse(this.minDate)) ? this.minTime : undefined;
            },
        },
        methods: {
            init() {
                if(this.dateTime) {
                    let arr = this.dateTime.split(' ');
                    this.date = arr[0];
                    this.time = arr[1];
                }
            },
            close(){
                this.resetPicker();
                this.init();
            },
            save() {
                this.resetPicker();
                this.dateTime = this.selectedDatetime;
            },
            resetPicker() {
                this.display = false;
                this.activeTab = 0;
                if (this.$refs.timer) {
                    this.$refs.timer.selectingHour = true
                }
            },
        },
        watch: {
            value(){
                this.init();
            },
        }
    }
</script>