<template>
    <v-text-field
            v-model="field"
            v-bind="options"
            ref="field"
    ></v-text-field>
</template>

<script>
export default {
    name:'hcFloatField',
    model: {
        prop: 'value',
        event: 'change',
    },
    props:{
        value:{},
        options:Object,
    },
    data(){
        return{};
    },
    computed:{
        field: {
            get() {
                return this.value;
            },
            set(value) {
                value = this.$refs.field.lazyValue = value.replace(/[^0-9^.]/g,"");
                this.$emit('change', value);
            }
        },
    },
}
</script>