<template>
    <v-snackbar
            class="hc_my_snackbar"
            :color="content.color"
            right
            top
            v-model="notify"
    >
        {{content.text}}
        <template v-slot:action="{ attrs }">
            <v-btn dark icon @click="notify=false" v-bind="attrs">
                <v-icon small>mdi-close</v-icon>
            </v-btn>
        </template>
    </v-snackbar>
</template>

<script>
    export default {
        name:"hcNotify",
        computed:{
            content(){
                return this.$store.state.notify;
            }
        },
        watch:{
            content(){
                this.notify = true;
            }
        },
        data:()=>({
            notify:false,
        }),
    }
</script>

<style>
    .hc_my_snackbar .v-snack__wrapper {
        min-width: 0 !important;
    }
</style>