<template>
    <v-dialog
            v-model="dialog"
            max-width="800px"
            scrollable
            :persistent="loadSave"
    >
        <v-card tile>
            <div
                    class="d-flex"
            >
                <v-toolbar-title class="d-flex align-center mx-4">
                    <span class="text-truncate">{{object.title}}</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-divider vertical/>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        clearable
                        style="max-width: 300px;border-radius: 0;"
                        solo
                        flat
                ></v-text-field>
            </div>
            <v-divider/>
            <v-card-text class="pa-0">
                <v-data-table
                        :headers="headers"
                        :search="search"
                        :loading="loading"
                        :items="items"
                        v-model="selected"
                        show-select
                ></v-data-table>
            </v-card-text>
            <v-divider/>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        color="blue darken-1"
                        text
                        @click="dialog=false"
                        :disabled="loadSave"
                >Отмена
                </v-btn>
                <v-btn
                        color="blue darken-1"
                        text
                        @click="save"
                        :disabled="blockSave || loadSave"
                        :loading="loadSave"
                >Сохранить
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "objectCompany",
        model: {
            prop: 'value',
            event: 'change',
        },
        props: {
            api: String,
            object: Object,
            company: Array,
            value: Boolean,
        },
        data() {
            return {
                loadSave: false,
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Название", value: "name"},
                ],
                search:'',
                loading:false,
                companyObjects:[],
                selected:[]
            };
        },
        mounted() {
            this.init();
        },
        computed: {
            dialog: {
                get() {
                    return this.value;
                },
                set(value) {
                    this.$emit('change', value);
                }
            },
            items(){
                return (this.loading) ? [] : this.company;
            },
            blockSave(){
                return JSON.stringify(this.companyObjects)==JSON.stringify(this.selected);
            },
        },
        watch: {},
        methods: {
            init() {
                this.loading = true;
                this.$post(this.api, {
                    rout: 'companyObjects',
                    func: 'getObjectCompany',
                    objectID: this.object.id,
                }).then(json => {
                    //console.log(json);
                    this.companyObjects = this.company.filter(i=>json.some(j=>j.companyID==i.id)).reverse();
                    this.selected = JSON.parse(JSON.stringify(this.companyObjects));
                }).catch((error) => {
                    console.error(error);
                    this.$emit('message', 'Ошибка ответа сервера!');
                }).finally(() => {
                    this.loading = false;
                });
            },
            save(){
                if (!this.loadSave) {
                    this.loadSave = true;
                    this.$post(this.api, {
                        rout: 'companyObjects',
                        func: 'setObjectCompany',
                        objectID: this.object.id,
                        data: JSON.stringify(this.selected),
                    }).then(json => {
                        //console.log(json);
                        if (json.set) {
                            console.log("Данные сохранены!");
                            this.$emit('message', 'Данные сохранены!', 'success');
                            this.dialog = false;
                        }else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка записи в базу!');
                        }
                    }).catch((error) => {
                        console.error(error);
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadSave = false;
                    });
                }
            },
        },
    }
</script>
