<template>
    <v-data-table
            :items="items"
            :headers="headers"
            :loading="loading || loadDel"
            :search="search"
    >
        <template v-slot:top>
            <div class="d-flex">
                <v-toolbar-title class="d-flex align-center mx-4">
                    <span class="text-truncate">Объекты</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-divider vertical/>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        solo
                        flat
                        clearable
                        style="max-width: 350px;"
                ></v-text-field>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialog=true" :disabled="loadDel" title="Добавить">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar-items>
                <v-dialog
                        v-model="dialog"
                        max-width="500px"
                        @click:outside="close()"
                        persistent
                        :no-click-animation="!loadSave"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }} объект</span>
                        </v-card-title>

                        <v-card-text style="padding-bottom:0;">
                            <v-container style="padding:0;">
                                <v-form
                                        ref="form"
                                        v-model="valid"
                                >
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.title"
                                                    label="Название"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                    v-model="editedItem.description"
                                                    label="Описание"
                                                    required
                                                    __outlined
                                                    __hide-details
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close()"
                                    :disabled="loadSave"
                            >Отмена
                            </v-btn>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="save"
                                    :disabled="loadSave"
                                    :loading="loadSave"
                            >Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <object-company
                        v-if="dialogShare"
                        v-model="dialogShare"
                        :api="api"
                        :company="company"
                        :object="curObject"
                        @message="message"
                />
            </div>
            <v-divider/>
        </template>
        <template v-slot:item.actions={item}>
            <div style="white-space: nowrap;">
                <v-menu bottom left>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                x-small
                                icon
                                v-bind="attrs"
                                v-on="on"
                                :disabled="loadDel"
                        >
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </template>
                    <v-list dense>
                        <v-list-item @click="editItem(item)">
                            <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-pencil</v-icon>Редактировать</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="editObjList(item)">
                            <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-domain</v-icon>Компании</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="deleteItem(item)">
                            <v-list-item-title class="d-flex align-center"><v-icon class="mr-4">mdi-delete</v-icon>Удалить</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        name: "objects",
        components: {
            objectCompany: () => import('./objectCompany'),
        },
        props: {
            api: String,
            objects: Array,
            loading: Boolean,
            company: Array
        },
        data() {
            return {
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Название", value: "title"},
                    {text: "Описание", value: "description"},
                    {text: "Действия", value: "actions", align: "right", sortable: false},
                ],
                search: '',
                dialog: false,
                editedIndex: -1,
                editedItem: {
                    title: '',
                    description: '',
                },
                defaultItem: {
                    title: '',
                    description: '',
                },
                valid: false,
                nameRules: [
                    v => !!v || 'Обязательное поле',
                ],
                loadSave: false,
                loadDel: false,
                dialogShare: false,
                curObject: null,
            };
        },
        mounted() {},
        computed: {
            items:{
                get(){
                    return this.objects;
                },
                set(val){
                    this.$emit('objectsEdit',val);
                }
            },
            formTitle() {
                return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
            },
        },
        watch: {},
        methods: {
            message(p1, p2) {
                this.$emit("message", p1, p2);
            },
            editObjList(item) {
                this.curObject = item;
                this.dialogShare = true;
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },
            async deleteItem(item){
                await new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Подтвердите удаление',
                        text:'Вы уверены что хотите удалить запись?',
                        action: resolve
                    })
                });
                    this.loadDel = true;
                    this.$post(this.api, {
                        rout: 'objects',
                        func: 'deleteObject',
                        id: item.id,
                    }).then(json => {
                        //console.log(json);
                        if (json.set) {
                            this.items = json.data;
                            console.log("Успешно удалено!");
                            this.$emit('message', 'Проект удалён!', 'success');
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка на сервере!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadDel = false;
                    });
            },
            async close(save = false) {
                if (!save && this.loadSave) return false;
                if (!save) {
                    let str = (this.editedIndex !== -1) ? this.items[this.editedIndex] : this.defaultItem;
                    if (JSON.stringify(this.editedItem) != JSON.stringify(str)) {
                        await new Promise((resolve) => {
                            this.$store.dispatch('confirm', {
                                text: 'Есть изменения! Всё равно закрыть?',
                                action: resolve
                            })
                        });
                    }
                }
                this.dialog = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                    this.resetValidation();
                }, 300)
            },
            save() {
                this.validate();
                if (this.valid && !this.loadSave) {
                    this.loadSave = true;
                    this.$post(this.api, {
                        rout: 'objects',
                        func: 'setObject',
                        data: JSON.stringify(this.editedItem),
                    }).then(json => {
                        //console.log(json);
                        if (json.set) {
                            this.close(true);
                            this.items = json.data;
                            console.log("Успешно сохранено!");
                            this.$emit('message', 'Данные сохранены!', 'success');
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка записи в базу!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadSave = false;
                    });
                }
            },
            validate() {
                this.$refs.form.validate()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
        },
    }
</script>
