<template>
    <v-data-table
            :items="items"
            :headers="headers"
            :loading="loading || loadDel"
            :search="search"
    >
        <template v-slot:top>
            <div class="d-flex">
                <v-toolbar-title class="d-flex align-center mx-4">
                    <span class="text-truncate">Проекты</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-divider vertical/>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        solo
                        flat
                        clearable
                        style="max-width: 350px;"
                ></v-text-field>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialog=true" :disabled="loadDel" title="Добавить">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar-items>
                <v-dialog
                        v-if="dialog"
                        v-model="dialog"
                        max-width="500px"
                        @click:outside="close()"
                        persistent
                        :no-click-animation="!loadSave"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }} проект</span>
                        </v-card-title>

                        <v-card-text style="padding-bottom:0;">
                            <v-container style="padding:0;">
                                <v-form
                                        ref="form"
                                        v-model="valid"
                                >
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.title"
                                                    label="Название проекта"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.name"
                                                    label="Слаг"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field
                                                    v-model="editedItem.icon"
                                                    label="Иконка mdi"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-checkbox
                                                    v-model="editedItem.mobile"
                                                    label="Мобильное приложение"
                                                    true-value="1"
                                                    false-value="0"
                                            ></v-checkbox>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close()"
                                    :disabled="loadSave"
                            >Отмена
                            </v-btn>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="save"
                                    :disabled="loadSave"
                                    :loading="loadSave"
                            >Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
            <v-divider/>
        </template>
        <template v-slot:item.actions={item}>
            <div style="white-space: nowrap;">
                <v-btn
                        icon
                        x-small
                        class="ml-2"
                        @click="editItem(item)"
                        :disabled="loadDel"
                        title="Редактировать"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                        icon
                        x-small
                        class="ml-2"
                        @click="deleteItem(item)"
                        :disabled="loadDel"
                        title="Удалить"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </div>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        name: "project",
        props: {
            api: String,
            project: Array,
            loading: Boolean,
        },
        data() {
            return {
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Название", value: "title"},
                    {text: "Слаг", value: "name"},
                    {text: "Действия", value: "actions", align: "right", sortable: false},
                ],
                search: '',
                dialog: false,
                editedIndex: -1,
                editedItem: {
                    title: '',
                    name: '',
                    icon: '',
                    mobile: '0',
                },
                defaultItem: {
                    title: '',
                    name: '',
                    icon: '',
                    mobile: '0',
                },
                valid: false,
                nameRules: [
                    v => !!v || 'Обязательное поле',
                ],
                loadSave: false,
                loadDel: false,
            };
        },
        computed: {
            items:{
                get(){
                    return this.project;
                },
                set(val){
                    this.$emit('projectEdit',val);
                }
            },
            formTitle() {
                return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
            },
        },
        methods: {
            editItem(item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },
            async deleteItem(item){
                await new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Подтвердите удаление',
                        text:'Вы уверены что хотите удалить запись?',
                        action: resolve
                    })
                });
                    this.loadDel = true;
                    this.$post(this.api, {
                        rout: 'project',
                        func: 'deleteProject',
                        ID: item.id
                    }).then(json => {
                        //console.log(json);
                        if (json.error) {
                            console.error(json.error);
                            this.$store.dispatch('notify', json.error);
                        } else if (json.set) {
                            this.items = json.project;
                            console.log("Успешно удалено!");
                            this.$emit('message', 'Проект удалён!', 'success');
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка на сервере!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadDel = false;
                    });
            },
            async close(save = false) {
                if (!save && this.loadSave) return false;
                if (!save) {
                    let str = (this.editedIndex !== -1) ? this.items[this.editedIndex] : this.defaultItem;
                    if (JSON.stringify(this.editedItem) != JSON.stringify(str)) {
                        await new Promise((resolve) => {
                            this.$store.dispatch('confirm', {
                                text: 'Есть изменения! Всё равно закрыть?',
                                action: resolve
                            })
                        });
                    }
                }
                this.dialog = false;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
                this.resetValidation();
            },
            save() {
                this.validate();
                if (this.valid && !this.loadSave) {
                    this.loadSave = true;
                    this.$post(this.api, {
                        rout: 'project',
                        func: 'setProject',
                        data: JSON.stringify(this.editedItem),
                    }).then(json => {
                        //console.log(json);
                        if (json.set == 1) {
                            this.close(true);
                            this.items = json.project;
                            console.log("Успешно сохранено!");
                            this.$emit('message', 'Данные сохранены!', 'success');
                        } else if (json.set == 2) {
                            this.editedItem.name = "";
                            console.error("Проект существует!");
                            this.$emit('message', 'Такой слаг уже существует!');
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка записи в базу!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadSave = false;
                    });
                }
            },
            validate() {
                this.$refs.form.validate()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
        },
    }
</script>

<style></style>
