<template>
    <v-dialog
            v-model="dialog"
            max-width="700px"
            scrollable
            @click:outside="close()"
            persistent
            :no-click-animation="!loadSave"
    >
        <v-card>
            <v-card-title class="pb-0" style="display: block">
                <div class="headline text-truncate">Сервисы</div>
                <div class="text-truncate text--secondary font-weight-regular" style="font-size: 14px;">{{company.name}}</div>
            </v-card-title>
            <v-card-text class="pb-0">
                <v-form
                        ref="form"
                        v-model="valid"
                >
                    <div class="d-flex justify-center align-center">
                        <div class="font-weight-bold">Email</div>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-icon
                                        color="primary"
                                        dark
                                        v-bind="attrs"
                                        v-on="on"
                                        small
                                        class="mx-2"
                                >
                                    mdi-information-outline
                                </v-icon>
                            </template>
                            <span>{{info.Email}}</span>
                        </v-tooltip>
                        <v-spacer/>
                        <v-switch v-model="settings.Email.set"/>
                    </div>
                    <template v-if="settings.Email.set">
                        <v-row>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Пользователь"
                                        v-model="settings.Email.attrs.login"
                                        :rules="nameRules"
                                />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Пароль"
                                        v-model="settings.Email.attrs.password"
                                        :rules="nameRules"
                                />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Хост отправителя"
                                        v-model="settings.Email.attrs.hostSend"
                                        :rules="nameRules"
                                />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Порт отправителя"
                                        v-model="settings.Email.attrs.portSend"
                                        :rules="nameRules"
                                />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Хост получения"
                                        v-model="settings.Email.attrs.hostReception"
                                        :rules="nameRules"
                                />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Порт получения"
                                        v-model="settings.Email.attrs.portReception"
                                        :rules="nameRules"
                                />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="email"
                                        v-model="settings.Email.attrs.email"
                                        :rules="nameRules"
                                />
                            </v-col>
                        </v-row>
                    </template>
                    <div class="d-flex justify-center align-center">
                        <div class="font-weight-bold">Telegram</div>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-icon
                                        color="primary"
                                        dark
                                        v-bind="attrs"
                                        v-on="on"
                                        small
                                        class="mx-2"
                                >
                                    mdi-information-outline
                                </v-icon>
                            </template>
                            <span>{{info.Telegram}}</span>
                        </v-tooltip>
                        <v-spacer/>
                        <v-switch v-model="settings.Telegram.set"/>
                    </div>
                    <template v-if="settings.Telegram.set">
                        <v-row>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Токен"
                                        v-model="settings.Telegram.attrs.token"
                                        :rules="nameRules"
                                />
                            </v-col>
                        </v-row>
                    </template>
                    <div class="d-flex justify-center align-center">
                        <div class="font-weight-bold">Wialon</div>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-icon
                                        color="primary"
                                        dark
                                        v-bind="attrs"
                                        v-on="on"
                                        small
                                        class="mx-2"
                                >
                                    mdi-information-outline
                                </v-icon>
                            </template>
                            <span>{{info.Wialon}}</span>
                        </v-tooltip>
                        <v-spacer/>
                        <v-switch v-model="settings.Wialon.set"/>
                    </div>
                    <template v-if="settings.Wialon.set">
                        <v-row style="margin-bottom: 0;">
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Хост"
                                        v-model="settings.Wialon.attrs.host"
                                        :rules="nameRules"
                                />
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field
                                        label="Токен"
                                        v-model="settings.Wialon.attrs.token"
                                        :rules="nameRules"
                                />
                            </v-col>
                        </v-row>
                    </template>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer/>
                <v-btn
                        text
                        color="primary"
                        @click="close()"
                        :disabled="loadSave"
                >
                    Отмена
                </v-btn>
                <v-btn
                        text
                        color="primary"
                        @click="save"
                        :disabled="loadSave"
                        :loading="loadSave"
                >
                    Сохранить
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default{
        name:"services",
        model: {
            prop: 'value',
            event: 'change',
        },
        props: {
            api: String,
            company: Object,
            value: Boolean,
        },
        data(){
            return {
                settings:{
                    Email:{
                        set:false,
                        attrs:{
                            login:'',
                            password:'',
                            email:'',
                            hostSend:'',
                            portSend:'',
                            hostReception:'',
                            portReception:'',
                        }
                    },
                    Telegram:{
                        set:false,
                        attrs: {
                            token: '',
                        }
                    },
                    Wialon:{
                        set:false,
                        attrs: {
                            token: '',
                            host: '',
                        }
                    },
                },
                default:{},
                info:{
                    Email: '10 последних писем',
                    Telegram: '30 последних сообщений',
                    Wialon: 'Список всех авто и их статусы',
                },
                valid: false,
                nameRules: [
                    v => !!v.trim() || 'Обязательное поле',
                ],
                loadSave: false,
            };
        },
        computed: {
            dialog: {
                get() {
                    return this.value;
                },
                set(value) {
                    this.$emit('change', value);
                }
            },
        },
        mounted() {
            this.default = JSON.stringify(this.settings);
            if(this.company.services)this.settings = JSON.parse(this.company.services);
        },
        methods:{
            validate() {
                this.$refs.form.validate();
            },
            save(){
                this.validate();
                if (!this.valid)return false;
                this.loadSave = true;
                this.$post(this.api, {
                    rout: 'company',
                    func: 'setServices',
                    data: JSON.stringify(this.settings),
                    id: this.company.id,
                }).then(json => {
                    //console.log(json);
                    if (json.set) {
                        this.close(true);
                        this.$emit('companyEdit',json.data);
                        console.log("Успешно сохранено!");
                        this.$emit('message', 'Данные сохранены!', 'success');
                    } else {
                        console.error("Ошибка записи в базу!");
                        this.$emit('message', 'Ошибка записи в базу!');
                    }
                }).catch(error => {
                    console.error("Ошибка ответа сервера!",error);
                    this.$emit('message', 'Ошибка ответа сервера!');
                }).finally(() => {
                    this.loadSave = false;
                });
            },
            async close(save = false) {
                if (!save && this.loadSave) return false;
                if (!save) {
                    let str = this.company.services || this.default;
                    if (JSON.stringify(this.settings) != str) {
                        await new Promise((resolve) => {
                            this.$store.dispatch('confirm', {
                                text: 'Есть изменения! Всё равно закрыть?',
                                action: resolve
                            })
                        });
                    }
                }
                this.dialog = false;
            },
        },
    }
</script>