<template>
    <v-data-table
            :items="items"
            :headers="headers"
            :loading="loading || loadDel"
            :search="search"
    >
        <template v-slot:top>
            <div class="d-flex">
                <v-toolbar-title class="d-flex align-center mx-4">
                    <span class="text-truncate">Типы авто</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <slot/>
                <v-divider vertical/>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        solo
                        flat
                        clearable
                        style="max-width: 350px;"
                ></v-text-field>
                <v-divider vertical/>
                <v-toolbar-items>
                    <v-btn text @click="dialog=true" :disabled="loadDel || loading" title="Добавить">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar-items>
                <v-dialog
                        v-if="dialog"
                        v-model="dialog"
                        max-width="500px"
                        @click:outside="close()"
                        persistent
                        :no-click-animation="!loadSave"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }} тип</span>
                        </v-card-title>

                        <v-card-text style="padding-bottom:0;">
                            <v-container style="padding:0;">
                                <v-form
                                        ref="form"
                                        v-model="valid"
                                >
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.typeName"
                                                    label="Название"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-form>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close()"
                                    :disabled="loadSave"
                            >Отмена
                            </v-btn>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="save"
                                    :disabled="loadSave"
                                    :loading="loadSave"
                            >Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
            <v-divider/>
        </template>
        <template v-slot:item.actions={item}>
            <div style="white-space: nowrap;">
                <v-btn
                        icon
                        x-small
                        class="ml-2"
                        @click="editItem(item)"
                        :disabled="loadDel"
                        title="Редактировать"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                        icon
                        x-small
                        class="ml-2"
                        @click="deleteItem(item)"
                        :disabled="loadDel"
                        title="Удалить"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </div>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        name: "typeAuto",
        data() {
            return {
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Тип", value: "typeName"},
                    {text: "Действия", value: "actions", align: "right", sortable: false},
                ],
                search: '',
                dialog: false,
                editedIndex: -1,
                editedItem: {
                    typeName: '',
                },
                defaultItem: {
                    typeName: '',
                },
                valid: false,
                nameRules: [
                    v => !!v || 'Обязательное поле',
                ],
                loadSave: false,
                loadDel: false,
                items:[],
                loading: false,
            };
        },
        mounted() {
            this.init();
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
            },
            api(){
                return this.$store.state.api.urlAuth;
            },
            wialonapi(){
                return this.$store.state.apiFull.wialon;
            },
        },
        methods: {
            init() {
                this.loading = true;
                this.$post(this.wialonapi, {
                    api:'CarTypes',
                    action:'get',
                }).then(json => {
                    //console.log(json);
                    this.items = json.data;
                }).catch((error) => {
                    console.error(error);
                    this.$emit('message', 'Ошибка ответа сервера!');
                }).finally(() => {
                    this.loading = false;
                });
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },
            async deleteItem(item){
                await new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Подтвердите удаление',
                        text:'Вы уверены что хотите удалить запись?',
                        action: resolve
                    })
                });
                this.loadDel = true;
                this.$post(this.wialonapi, {
                    api:'CarTypes',
                    action:'delete',
                    params: JSON.stringify({
                        id: item.id
                    }),
                }).then(json => {
                    //console.log(json);
                    if (json.success) {
                        this.items.splice(this.items.indexOf(item),1);
                        console.log("Успешно удалено!");
                        this.$store.dispatch('notify',{text:'Запись удалена!',color:'success'});
                    } else {
                        console.error("Ошибка записи в базу!");
                        this.$store.dispatch('notify','Ошибка на сервере!');
                    }
                }).catch((error) => {
                    console.error("Ошибка ответа сервера!");
                    this.$store.dispatch('notify','Ошибка ответа сервера!');
                }).finally(() => {
                    this.loadDel = false;
                });
            },
            async close(save = false) {
                if (!save && this.loadSave) return false;
                if (!save) {
                    let str = (this.editedIndex !== -1) ? this.items[this.editedIndex] : this.defaultItem;
                    if (JSON.stringify(this.editedItem) != JSON.stringify(str)) {
                        await new Promise((resolve) => {
                            this.$store.dispatch('confirm', {
                                text: 'Есть изменения! Всё равно закрыть?',
                                action: resolve
                            })
                        });
                    }
                }
                this.dialog = false;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
                this.resetValidation();
            },
            save() {
                this.validate();
                if (this.valid && !this.loadSave) {
                    this.loadSave = true;
                    this.$post(this.wialonapi, {
                        api:'CarTypes',
                        action:'set',
                        params: JSON.stringify(this.editedItem),
                    }).then(json => {
                        //console.log(json);
                        if (json.success) {
                            if(this.editedItem.id){
                                this.items = this.items.map(i=>{
                                    return (i.id==this.editedItem.id) ? {...this.editedItem} : i;
                                });
                            }else {
                                this.items.unshift({
                                    ...this.editedItem,
                                    ...json.data[0]
                                });
                            }
                            this.close(true);
                            console.log("Успешно сохранено!");
                            this.$store.dispatch('notify',{text:'Данные сохранены!',color:'success'});
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$store.dispatch('notify','Ошибка записи в базу!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$store.dispatch('notify','Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadSave = false;
                    });
                }
            },
            validate() {
                this.$refs.form.validate()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
        },
    }
</script>
