<template>
    <v-data-table
            :items="items"
            :headers="fHeaders"
            :loading="loadUsers || loadDel"
            show-select
            v-model="selected"
            disable-pagination
            hide-default-footer
            disable-sort
    >
        <template v-slot:top>
            <vue-easy-lightbox
                    :visible="visible"
                    :imgs="imgs"
                    @hide="handleHide"
            ></vue-easy-lightbox>
            <div class="d-flex">
                <v-dialog
                        v-model="dialogBadge"
                        fullscreen
                        hide-overlay
                        transition="dialog-bottom-transition"
                >
                    <v-card tile class="d-flex flex-column">
                        <v-toolbar
                                __dark
                                __color="primary"
                                class="flex-grow-0"
                                __dense
                                flat
                                __outlined
                        >
                            <v-toolbar-title>Распечатка бейджиков</v-toolbar-title>
                            <v-spacer></v-spacer>

                            <v-toolbar-items>
                                <v-btn
                                        text
                                        @click="printDiv"
                                >
                                    <v-icon>mdi-printer</v-icon>
                                </v-btn>
                            </v-toolbar-items>

                            <v-toolbar-items>
                                <v-btn
                                        __dark
                                        text
                                        @click="dialogBadge=false"
                                >
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </v-toolbar-items>
                        </v-toolbar>
                        <v-divider/>
                        <v-container ref="printer" fluid class="flex-grow-1" style="height: 0;overflow: auto;">
                            <div v-if="dialogBadge" style="margin-left: -6px;margin-right: -6px;display: flex;flex-wrap: wrap;">
                                <v-card v-for="item in selected" tile elevation="0" style="width: 350px;max-width: 100%;border:1px solid lightgrey;margin-right: 8px;margin-left: 8px;margin-bottom: 16px;">
                                    <div style="font-size: 18px;display: flex;padding: 16px;">
                                        <qr-code style="margin-right: 16px;" :size="150" :text="getTextUser(item)" error-level="L"/>
                                        <div>
                                            <div style="width: 50px;height: 50px;margin-bottom: 10px;border-radius:50%;overflow:hidden;display:flex;justify-content:center;align-items:center;">
                                                <img :ref="'printUserPhoto'+item.id" :base64="getPhotoUser(item.id)"/>
                                            </div>
                                            <div class="text--primary">{{item.surName}}</div>
                                            <div>{{item.firstName}}</div>
                                            <div>{{item.lastName}}</div>
                                        </div>
                                    </div>
                                </v-card>
                            </div>
                        </v-container>
                    </v-card>
                </v-dialog>
                <v-toolbar-title class="mx-4 d-flex align-center">
                    <span class="text-truncate">Пользователи</span>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <template v-if="access>=2 || (access==1.5 && company.length>1)">
                <v-divider vertical/>
                <v-autocomplete
                        v-model="filters.company"
                        label="Компания"
                        :items="company"
                        item-value="id"
                        item-text="name"
                        hide-details
                        style="max-width: 250px;"
                        clearable
                        solo
                        flat
                        :loading="loading"
                ></v-autocomplete>
                </template>
                <v-divider vertical/>
                <v-select
                        v-model="filters.access"
                        label="Доступ"
                        :items="accessU"
                        item-value="value"
                        item-text="text"
                        hide-details
                        style="max-width: 250px;"
                        clearable
                        solo
                        flat
                ></v-select>
                <v-divider vertical/>
                <v-text-field
                        v-model="filters.search"
                        append-icon="mdi-magnify"
                        label="Поиск"
                        single-line
                        hide-details
                        clearable
                        solo
                        flat
                        style="max-width: 350px;"
                ></v-text-field>
                <template v-if="selected.length">
                    <v-divider vertical/>
                    <v-toolbar-items>
                        <v-btn text @click="dialogBadge=true">
                            <v-icon>mdi-qrcode</v-icon>
                        </v-btn>
                    </v-toolbar-items>
                </template>
                <template v-if="someConfirm">
                    <v-divider vertical/>
                    <v-toolbar-items>
                        <v-btn text @click="filters.confirm=!filters.confirm" title="Ожидают подтверждения">
                            <v-icon v-if="filters.confirm" color="grey">mdi-bell-off</v-icon>
                            <v-icon v-else color="error">mdi-bell-ring</v-icon>
                        </v-btn>
                    </v-toolbar-items>
                </template>
                <template v-if="access>=1.5">
                    <v-divider vertical/>
                    <v-toolbar-items>
                        <v-btn text @click="dialog=true" :disabled="loadDel || loadUsers" title="Добавить">
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </v-toolbar-items>
                </template>
                <template>
                    <v-divider vertical/>
                    <v-toolbar-items>
                        <v-btn text @click="getUsers()" :disabled="loadUsers || loadDel" title="Обновить">
                            <v-icon :class="{'anim_rot': loadUsers || loadDel}">mdi-sync</v-icon>
                        </v-btn>
                    </v-toolbar-items>
                </template>
                <v-dialog
                        v-if="dialog"
                        v-model="dialog"
                        max-width="800px"
                        scrollable
                        __persistent="loadSave"
                        @click:outside="close()"
                        persistent
                        :no-click-animation="!loadSave"
                >
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }} пользователя</span>
                        </v-card-title>
                        <v-divider/>
                        <v-card-text style="padding-bottom:0;">
                            <v-container style="padding:0;">
                                <v-form
                                        ref="form"
                                        v-model="valid"
                                >
                                    <v-row class="my-0">
                                        <v-col cols="12" :sm="12" class="d-flex align-center justify-center flex-column">
                                            <v-avatar size="200px">
                                                <v-img :src="srcM"/>
                                            </v-avatar>
                                            <input
                                                    type="file"
                                                    @change="setPhoto"
                                                    class="d-none"
                                                    ref="userPhoto"
                                            >
                                            <div class="mt-2">
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-btn v-bind="attrs" v-on="on" icon class="mx-2" @click="$refs.userPhoto.click()" :disabled="loadSave">
                                                            <v-icon>mdi-file-upload</v-icon>
                                                        </v-btn>
                                                    </template>
                                                    <span>Загрузить фото</span>
                                                </v-tooltip>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-btn v-bind="attrs" v-on="on" icon class="mx-2" @click="openEditPhoto()" :disabled="loadSave || (!editedItem.photo && !photoPath)">
                                                            <v-icon>mdi-pencil</v-icon>
                                                        </v-btn>
                                                    </template>
                                                    <span>Редактировать фото</span>
                                                </v-tooltip>
                                                <v-tooltip bottom>
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-btn v-bind="attrs" v-on="on" icon class="mx-2" @click="resetPhoto(true)">
                                                            <v-icon>mdi-delete</v-icon>
                                                        </v-btn>
                                                    </template>
                                                    <span>Удалить фото</span>
                                                </v-tooltip>
                                            </div>
                                        </v-col>
                                        <v-col v-if="![null,'success','waiting'].some(i=>i==editedItem.statusFace)" cols="12" class="red--text py-0">Ошибка загрузки faceID: {{editedItem.statusFace}}</v-col>
                                        <v-col v-if="![null,'success','waiting'].some(i=>i==editedItem.statusFace) && !photo" cols="12" class="red--text py-0">
                                            <v-checkbox
                                                    v-model="resetFace"
                                                    label="Повторить попытку загрузки фото на приборы"
                                            />
                                        </v-col>
                                        <v-col v-if="$store.state.auth.info.id!=editedItem.id" cols="12" sm="6">
                                            <v-select
                                                    :rules="nameRules"
                                                    :items="fAccess"
                                                    v-model="editedItem.access"
                                                    label="Доступ на портал*"
                                            ></v-select>
                                        </v-col>
                                        <v-col v-if="access>=1.5 && editedItem.access!='.00' && $store.state.auth.info.id!=editedItem.id" cols="12" sm="6">
                                            <hc-datetime-picker
                                                    end
                                                    :options="{
                                                         label:'Время блокировки',
                                                         clearable: true,
                                                    }"
                                                    v-model="editedItem.timeDelete"
                                                    :min-date="dateTimeObj().date"
                                                    :min-time="dateTimeObj().time"
                                            />
                                        </v-col>
                                        <v-col v-if="editedItem.access!='.00'" cols="12" sm="6">
                                            <v-text-field
                                                    :rules="loginRules"
                                                    v-model="editedItem.login"
                                                    label="Логин*"
                                                    required
                                                    autocomplete="new-login"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col v-if="editedItem.access!='.00'" cols="12" sm="6">
                                            <v-text-field
                                                    :type="showPass"
                                                    :rules="rulesPass"
                                                    v-model="editedItem.password"
                                                    :label="'Пароль'+((rulesPass.length)?'*':'')"
                                                    autocomplete="new-password"
                                            >
                                                <template v-slot:append>
                                                    <v-btn
                                                            icon
                                                            small
                                                            color="primary"
                                                            @click="eye=!eye"
                                                    >
                                                        <v-icon v-if="eye">mdi-eye-off-outline</v-icon>
                                                        <v-icon v-else>mdi-eye-outline</v-icon>
                                                    </v-btn>
                                                </template>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.surName"
                                                    label="Фамилия*"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.firstName"
                                                    label="Имя*"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-text-field
                                                    :rules="nameRules"
                                                    v-model="editedItem.lastName"
                                                    label="Отчество*"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-text-field
                                                    :rules="mailRules"
                                                    __type="email"
                                                    v-model="editedItem.email"
                                                    :label="'E-mail'+((editedItem.access!='.00')?'*':'')"
                                                    required
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-text-field
                                                    type="tel"
                                                    v-model="editedItem.phone"
                                                    label="Номер телефона"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col v-if="editedItem.access!='.00'" cols="12" sm="6">
                                            <v-select
                                                    :items="appList"
                                                    v-model="editedItem.appDefault"
                                                    item-text="title"
                                                    item-value="name"
                                                    label="Приложение по умолчанию"
                                                    clearable
                                                    :loading="loadAppList"
                                            ></v-select>
                                        </v-col>
                                        <v-col v-if="access>=2 || (access==1.5 && user.id!=editedItem.id && company.length>1)" cols="12" sm="6">
                                            <v-autocomplete
                                                    :rules="nameRules"
                                                    :items="company"
                                                    v-model="editedItem.companyID"
                                                    item-text="name"
                                                    item-value="id"
                                                    label="Компания*"
                                                    clearable
                                                    :loading="loading"
                                                    @change="getAppList"
                                            ></v-autocomplete>
                                        </v-col>
                                    </v-row>
                                </v-form>
                                <template v-if="access>=2 || (access==1.5 && user.id!=editedItem.id)">
                                        <div class="mb-2 subtitle-2">Доступ на объекты</div>
                                    <v-divider/>
                                    <v-data-table
                                            :items="companyObjects"
                                            :headers="headersObject"
                                            :loading="loadUserObjects"
                                            disable-pagination
                                            hide-default-footer
                                            disable-sort
                                            mobile-breakpoint="0"
                                            :item-class="indicateItem"
                                    >
                                        <template v-slot:item.access="{item}">
                                            <v-checkbox
                                                    v-model="item.access"
                                                    true-value="1"
                                                    false-value="0"
                                                    class="ma-0 pa-0"
                                                    hide-details
                                            />
                                        </template>
                                        <template v-slot:item.title="{item}">
                                            [{{item.id}}] {{item.title}}
                                        </template>
                                        <template v-slot:item.timeDelete="{item}">
                                            <hc-datetime-picker
                                                    v-if="item.access=='1'"
                                                    end
                                                    :options="{
                                                        clearable: true,
                                                        // outlined: true,
                                                        solo: true,
                                                        hideDetails: true,
                                                        flat: true,
                                                        dense: true,
                                                        placeholder:'Установить время',
                                                        style: 'width:200px;',
                                                    }"
                                                    v-model="item.timeDelete"
                                                    :min-date="dateTimeObj().date"
                                                    :min-time="dateTimeObj().time"
                                            />
                                        </template>
                                    </v-data-table>
<!--                                    <v-divider/>-->
                                    </template>
                            </v-container>
                        </v-card-text>
                        <v-divider/>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close()"
                                    :disabled="loadSave"
                            >Отмена
                            </v-btn>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="save"
                                    :disabled="loadSave || loadUserObjects || loadAppList"
                                    :loading="loadSave"
                            >{{textSave}}
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog
                        v-if="dialogEditPhoto"
                        v-model="dialogEditPhoto"
                        scrollable
                        fullscreen
                        hide-overlay
                >
                    <v-card tile>
                        <div class="d-flex" style="height: 48px;">
                            <v-toolbar-title class="d-flex align-center mx-4">
                                <span class="text-truncate">Редактировать фото</span>
                            </v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn text @click="closeEditPhoto()" :disabled="loadSaveEditPhoto">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </v-toolbar-items>
                        </div>
                        <v-divider/>
                        <v-card-text class="pa-0 d-flex justify-center align-center">
                            <v-progress-circular
                                    v-if="loadPhoto"
                                    indeterminate
                                    color="primary"
                                    size="40"
                                    width="3"
                                    class="my-4"
                            />
                            <vue-cropper
                                    v-else
                                    ref="cropper"
                                    :src="srcEdit"
                                    class="d-flex hc_cropper"
                                    :viewMode="1"
                                    :autoCrop="false"
                                    dragMode="move"
                                    :toggleDragModeOnDblclick="false"
                                    style="width: 100%;height: 100%;max-width: 100%;max-height: 100%;min-width: 100%;min-height: 100%;"
                            >
                            </vue-cropper>
                        </v-card-text>
                        <v-divider/>
                        <v-card-actions>
                            <template v-if="!loadPhoto">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" icon color="primary" @click="rotate()">
                                            <v-icon>mdi-rotate-right</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Повернуть фото</span>
                                </v-tooltip>
                                <v-tooltip top v-if="crop">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" icon color="primary" @click="cropMode(false)">
                                            <v-icon>mdi-arrow-all</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Перемещение фото</span>
                                </v-tooltip>
                                <v-tooltip top v-else>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" icon color="primary" @click="cropMode(true)">
                                            <v-icon>mdi-crop</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Обрезка фото</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" icon color="primary" @click="zoom(0.2)">
                                            <v-icon>mdi-magnify-plus-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Увеличить фото</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" icon color="primary" @click="zoom(-0.2)">
                                            <v-icon>mdi-magnify-minus-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Уменьшить фото</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" icon color="primary" @click="resetMove()">
                                            <v-icon>mdi-arrow-expand</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Сбросить фото</span>
                                </v-tooltip>
                            </template>
                            <v-spacer/>
                            <v-btn text color="primary" @click="saveEditPhoto()" :disabled="loadPhoto || loadSaveEditPhoto" :loading="loadSaveEditPhoto">Сохранить</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog
                        v-model="dialogInfo"
                        max-width="500"
                >
                    <v-card>
                        <v-card-title class="px-4">
                            <span class="text-truncate">Информация о пользователе</span>
                            <v-spacer></v-spacer>
                            <v-avatar size="35px" @click="scalePhoto(userInfo.id)" style="cursor: zoom-in">
                                <v-img :src="`${api}/?rout=auth&func=getUserPhoto&thumb=50&idUser=${userInfo.id}&rand=${rand}`"/>
                            </v-avatar>
                        </v-card-title>
                        <v-divider/>
                            <v-simple-table dense>
                                <tbody>
                                <tr v-for="row in fHeadersCard">
                                    <td class="subtitle-2">{{row.text}}</td>
                                    <td class="text-right">{{userInfo[row.value]}}</td>
                                </tr>
                                </tbody>
                            </v-simple-table>
                        <v-divider/>
                        <v-card-actions>
                            <v-spacer/>
                            <v-btn text color="primary" @click="dialogInfo=false">Закрыть</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog
                        v-model="dialogRD"
                        max-width="500px"
                >
                    <v-card>
                        <v-card-title>
                            <div class="text-truncate">Создание дубликата</div>
                        </v-card-title>
                        <v-card-text class="pb-0">
                            <span>Я, {{user.surName}} {{user.firstName}} {{user.lastName}}, осознанно создаю дубликат пользователя под свою ответственность, понимая риски в дальнейшей работе системы, по причине:</span>
                            <v-form ref="formRD" v-model="validRD">
                            <v-textarea
                                    v-model="comment"
                                    :rules="nameRules"
                                    outlined
                                    __hide-details
                                    class="mt-2"
                                    placeholder="Укажите причину"
                                    height="100px"
                                    no-resize
                            />
                            </v-form>
                        </v-card-text>
                        <v-card-actions class="pt-0 pb-4 px-4">
                            <v-spacer/>
                            <v-btn text color="primary" @click="dialogRD=false" small>Отмена</v-btn>
                            <v-btn text color="primary" @click="actionRD();" small>Отправить</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
            <v-divider/>
        </template>
        <template v-slot:item.confirm="{item}">
            <div style="position: relative;">
                <div
                        v-if="item.confirm==1"
                        style="position: absolute;width: 10px;height: 10px;background: red;border-radius: 50%;margin-top:-5px;margin-left:-5px;cursor:pointer;"
                        title="Ожидает подтверждения"
                        @click="editItem(item)"
                ></div>
            </div>
        </template>
        <template v-slot:item.photo="{item}">
            <v-avatar size="35px" @click="scalePhoto(item.id)" style="cursor: zoom-in;">
                <v-img :src="`${api}/?rout=auth&func=getUserPhoto&thumb=50&idUser=${item.id}&rand=${rand}`"/>
            </v-avatar>
        </template>
        <template v-slot:item.statusFace="{item}">
            <v-chip v-if="item.statusFace=='waiting'" small color="primary">Ожидание</v-chip>
            <v-chip v-else-if="item.statusFace=='success'" small color="success">Загружено</v-chip>
            <v-chip v-else-if="item.statusFace!=null" small color="error">Ошибка</v-chip>
        </template>
        <template v-slot:item.actions={item}>
            <div style="white-space: nowrap;">
                <v-btn
                        v-if="accessEdit(item)"
                        icon
                        x-small
                        class="ml-2"
                        @click="editItem(item)"
                        :disabled="loadDel || loadUsers"
                        title="Редактировать"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                        icon
                        x-small
                        class="ml-2"
                        @click="openInfo(item)"
                        title="Информация"
                        :disabled="loadDel || loadUsers"
                >
                    <v-icon>mdi-information</v-icon>
                </v-btn>
                <v-btn
                        v-if="$store.state.auth.info.access==3"
                        icon
                        x-small
                        class="ml-2"
                        @click="deleteItem(item)"
                        :disabled="loadDel || loadUsers"
                        title="Удалить"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </div>
        </template>
        <template v-slot:footer>
            <v-divider/>
            <div class="d-flex pa-2">
                <v-spacer/>
                <div class="pa-2">всего записей: {{usersCount}}</div>
                <div class="pa-2">стр. {{page}} из {{pageCount || 1}}</div>
                <v-btn icon @click="page=1">
                    <v-icon>mdi-chevron-double-left</v-icon>
                </v-btn>
                <v-btn icon @click="clickPage('prev')">
                    <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
                <v-btn icon @click="clickPage('next')">
                    <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
                <v-btn icon @click="page=pageCount">
                    <v-icon>mdi-chevron-double-right</v-icon>
                </v-btn>
            </div>
        </template>
    </v-data-table>
</template>

<script>
    import MD5 from '../lib/md5.js';
    import {mapGetters} from "vuex";
    import hcDatetimePicker from "./hcDatetimePicker.vue";
    import qrCode from 'vue-qrcode-component';
    import VueEasyLightbox from 'vue-easy-lightbox';

    export default {
        name: "users",
        components: {
            hcDatetimePicker,
            qrCode,
            VueEasyLightbox
        },
        props: {
            api: String,
            //loadAppList: Boolean,
            //appList: Array,
            loading: Boolean,
            company: Array,
        },
        data() {
            return {
                users:[],
                userInfo:{},
                dialogInfo:false,
                fError:false,
                visible: false,
                imgs: [],
                headers: [
                    {text: "", value: "confirm", sortable: false},
                    {text: "ID", value: "id"},
                    {text: "Фото", value: "photo"},
                    {text: "faceID", value: "statusFace"},
                    {text: "Логин", value: "login", access: ()=>{return this.access>=1.5}},
                    {text: "Фамилия", value: "surName"},
                    {text: "Имя", value: "firstName"},
                    {text: "Отчество", value: "lastName"},
                    {text: "E-mail", value: "email"},
                    // {text: "Телефон", value: "phone"},
                    {text: "Компания", value: "company", access: ()=>{return this.access>=2 || (this.access==1.5 && this.company.length>1)}},
                    // {text: "ИНН", value: "INN"},
                    // {text: "КПП", value: "KPP"},
                    {text: "Доступ", value: "accessName"},
                    {text: "Действия", value: "actions", align: "right", sortable: false},
                ],
                headersObject:[
                    {text:'Доступ',value:'access'},
                    {text:'Объект',value:'title'},
                    {text:'Время блокировки',value:'timeDelete'},
                ],
                headersCard: [
                    {text: "ID", value: "id"},
                    {text: "Логин", value: "login", access:1.5},
                    {text: "Фамилия", value: "surName"},
                    {text: "Имя", value: "firstName"},
                    {text: "Отчество", value: "lastName"},
                    {text: "E-mail", value: "email"},
                    {text: "Телефон", value: "phone"},
                    {text: "Компания", value: "company"},
                    {text: "ИНН", value: "INN"},
                    {text: "КПП", value: "KPP"},
                    {text: "Доступ", value: "accessName"},
                ],
                search: '',
                dialog: false,
                editedIndex: -1,
                editedItem: {
                    id: '',
                    login: '',
                    password: '',
                    surName: '',
                    firstName: '',
                    lastName: '',
                    phone: '',
                    email: '',
                    access: '.00',
                    appDefault: null,
                    companyID: null,
                    confirm: '',
                    timeDelete: '',
                },
                defaultItem: {
                    id: '',
                    login: '',
                    password: '',
                    surName: '',
                    firstName: '',
                    lastName: '',
                    phone: '',
                    email: '',
                    access: '.00',
                    appDefault: null,
                    companyID: null,
                    confirm: '',
                    timeDelete: '',
                },
                valid: false,
                nameRules: [
                    v => !!((typeof v == "string") ? v.trim() : v) || 'Обязательное поле',
                ],
                loadSave: false,
                loadDel: false,
                accessU: [
                    {text: "Без доступа", value: ".00"},
                    {text: "Гость", value: "1.00"},
                    {text: "Уровень 1", value: "1.20"},
                    {text: "Уровень 2", value: "1.21"},
                    {text: "Уровень 3", value: "1.22"},
                    {text: "Админ компании", value: "1.50"},
                    {text: "Суперадмин", value: "2.00"},
                    {text: "Разработчик", value: "3.00"},
                ],
                eye: false,
                selected: [],
                dialogBadge: false,
                photo: null,
                photoPath: '',
                dialogCompany: false,
                rand: '1234567890',
                lAccess: null,
                dialogRD: false,
                actionRD: ()=>{},
                validRD: false,
                comment:'',
                companyObjects:[],
                loadUserObjects: false,
                send: 0,
                loginRules: [
                    v => !!((typeof v == "string") ? v.trim() : v) || 'Обязательное поле',
                    v => ((typeof v == "string") ? v.trim().replace(/[a-zA-Z0-9_.\-@]/g,'').length===0 : !!v) || 'Недопустимые символы'
                ],
                rMail:[
                    v => {
                        if(['',null].indexOf(v)!==-1)return true;
                        return v.trim().replace(/[a-zA-Z0-9_.\-@]/g,'').length===0 || 'Недопустимые символы';
                    },
                    v => {
                        if(['',null].indexOf(v)!==-1)return true;
                        let valid = false;
                        let sims = ['..','.-','._','--','-.','-_','__','_-','_.'];
                        let dub = false;
                        for(let i=0;i<sims.length;i++){
                            if(v.indexOf(sims[i])!==-1){
                                dub = true;
                                break;
                            }
                        }
                        if(!dub) {
                            let str = v.split('@');
                            if (str.length === 2 && str[0] && str[1]) {
                                let sim = ['.', '-', '_'];
                                if (
                                    sim.indexOf(str[0][0]) === -1
                                    && sim.indexOf(str[0][str[0].length - 1]) === -1
                                    && sim.indexOf(str[1][0]) === -1
                                    && sim.indexOf(str[1][str[1].length - 1]) === -1
                                ) {
                                    let str2 = str[1].split('.');
                                    if (str2.length > 1) {
                                        valid = true;
                                    }
                                }
                            }
                        }
                        return valid || 'Некорректный ввод';
                    },
                ],
                resetFace:false,
                interval: null,
                loadUsers: false,
                page:1,
                pageCount:0,
                filters:{
                    company: null,
                    access: null,
                    search: null,
                    confirm: false,
                },
                moment:null,
                someConfirm:false,
                loadAppList:false,
                appList:[],
                stampAppList:null,
                usersCount: 0,

                dialogEditPhoto:false,
                srcEdit:'',
                loadPhoto:false,
                stamp:0,
                loadSaveEditPhoto:false,
                crop:false,
            };
        },
        mounted() {
            this.getUsers();
            this.interval = setInterval(()=> this.statusFace(), 5000);
        },
        beforeDestroy() {
            clearInterval(this.interval);
        },
        computed: {
            ...mapGetters({
                user: 'user',
            }),
            someWaiting(){
                return this.users.some(i=>i.statusFace=='waiting');
            },
            items() {
                return this.users.map(item => {
                    return {
                        ...item,
                        accessName: (item.access) ? this.accessU.find(i => i.value == item.access).text : '',
                        timeDelete: (item.timeDelete) ? this.getDateFormat(item.timeDelete) : '',
                    }
                });
            },
            formTitle() {
                return this.editedIndex === -1 ? 'Добавить' : 'Редактировать'
            },
            rulesPass() {
                return (this.editedIndex !== -1 && this.users.find(i=>i.id===this.editedItem.id).login) ? [] : this.nameRules;
            },
            mailRules(){
                return (this.editedItem.access!='.00') ? this.nameRules.concat(this.rMail) : this.rMail;
            },
            showPass() {
                return this.eye ? 'text' : 'password';
            },
            fAccess() {
                return this.accessU.filter(i => i.value <= this.$store.state.auth.info.access);
            },
            access() {
                return this.user.access;
            },
            companyID() {
                return this.user.companyID;
            },
            textSave() {
                return this.editedItem.confirm == 1 ? 'Подтвердить' : 'Сохранить';
            },
            src() {
                let src;
                if (this.photo == 'clear') {
                    src = `${this.api}/?rout=auth&func=getUserPhoto&thumb=50&idUser=0&rand=${this.rand}`;
                } else if (this.photo) {
                    src = this.photoPath;
                } else {
                    src = `${this.api}/?rout=auth&func=getUserPhoto&thumb=50&idUser=${this.editedItem.id}&rand=${this.rand}`;
                }
                return src;
            },
            srcM() {
                let src;
                if (this.photo == 'clear') {
                    src = `${this.api}/?rout=auth&func=getUserPhoto&thumb=200&idUser=0&rand=${this.rand}`;
                } else if (this.photo) {
                    src = this.photoPath;
                } else {
                    src = `${this.api}/?rout=auth&func=getUserPhoto&thumb=200&idUser=${this.editedItem.id}&rand=${this.rand}`;
                }
                return src;
            },
            fHeaders(){
                return this.headers.filter(i=>!i.hasOwnProperty('access') || i.access());
            },
            fHeadersCard(){
                return this.headersCard.filter(i=>!i.hasOwnProperty('access') || i.access<=this.access);
            },
            userObjects(){
                return this.companyObjects.filter(i=>i.access=='1').map(i=>{
                    return {
                        id: i.id,
                        timeDelete: (i.timeDelete) ? Date.parse(i.timeDelete)/1000 : ''
                    }
                });
            },
        },
        watch: {
            filters: {
                handler(){this.filterInit()},
                deep: true
            },
            '$store.state.auth.info.access'(){this.resetUsers();},
            '$store.state.auth.info.companyID'(){this.resetUsers();},
            'editedItem.companyID'(val){
                if(val){
                    if(this.access>=2 || (this.access==1.5 && this.user.id!=this.editedItem.id)) this.getUserObjects();
                }else{
                    this.companyObjects = [];
                }
            },
            'editedItem.access'(val,oldVal){
                if(val=='.00'){
                    this.editedItem.appDefault = null;
                    this.appList = [];
                }
                if (oldVal == '.00') this.getAppList();
            },
            companyID() {
                if (this.dialog && this.editedIndex !== -1 && this.access <= 1.5) {
                    this.close(true);
                }
                if (this.dialogBadge) {
                    this.dialogBadge = false;
                    this.selected = [];
                }
            },
            access(val) {
                if (this.dialog && (val < 1.5 || this.editedIndex !== -1)) {
                    this.close(true);
                }
                if (this.dialogBadge) {
                    this.dialogBadge = false;
                    this.selected = [];
                }
            },
            dialogRD(val){
                if(!val){
                    this.$refs.formRD.resetValidation();
                    this.comment = '';
                }
            },
            dialog(val){
                this.$emit('dialog',val);
                if(val && this.editedIndex===-1 && this.access==1.5 && this.company.length==1) this.getUserObjects(this.companyID);
            },
            page(v){
                this.getUsers();
            },
        },
        methods: {
            getAppList() {
                this.appList = [];
                if(this.editedItem.access!='.00' && !!this.editedItem.companyID) {
                    let stamp = this.stampAppList = new Date();
                    this.loadAppList = true;
                    this.$post(this.api, {
                        rout: 'registration',
                        func: 'getAppList',
                        companyID: this.editedItem.companyID,
                    }).then(json => {
                        if (stamp == this.stampAppList) {
                            this.appList = json;
                            if (!json.some(i => i.name == this.editedItem.appDefault)) this.editedItem.appDefault = null;
                            this.loadAppList = false;
                        }
                    }).catch(error => {
                        if (stamp == this.stampAppList) this.editedItem.appDefault = null;
                        console.error(error);
                        this.$emit('message', 'Ошибка ответа сервера!');
                        this.loadAppList = false;
                    });
                }else this.editedItem.appDefault = null;
            },
            indicateItem(item){
                if(item.access=='1') {
                    return 'active';
                }
            },
            resetUsers(){
                this.filters = {
                    company: null,
                    access: null,
                    search: null,
                    confirm: false,
                };
                this.page = 1;
                this.getUsers();
            },
            filterInit(){
                if(this.page!=1)this.page = 1;
                else this.getUsers();
            },
            statusFace(){
                if(!this.dialog && this.someWaiting)this.getUsers();
            },
            clickPage(direct) {
                if(direct=='next'){
                    if(this.page<this.pageCount)this.page++;
                }else if(this.page>1)this.page--;
            },
            getUserObjects(companyID=false){
                let send = this.send = Date.now();
                this.companyObjects = [];
                this.loadUserObjects = true;
                this.$post(this.api, {
                    rout: 'userObjects',
                    func: 'getUserObjectsNew',
                    userID: this.editedItem.id,
                    companyID: companyID || this.editedItem.companyID,
                }).then(json => {
                    // console.log(json);
                    if(send==this.send && this.dialog) {
                        this.companyObjects = json.map(i=>{
                            return {
                                ...i,
                                timeDelete: (i.timeDelete) ? this.getDateFormat(i.timeDelete) : '',
                            }
                        });
                        this.loadUserObjects = false;
                    }
                }).catch((error) => {
                    console.error(error);
                    this.$emit('message', 'Ошибка ответа сервера!');
                    this.loadUserObjects = false;
                });
            },
            getDateFormat(timestamp){
                let date = new Date(timestamp*1000);
                let y = date.getFullYear();
                let M = date.getMonth() + 1;
                if (M < 10) M = '0' + M;
                let d = date.getDate();
                if (d < 10) d = '0' + d;
                let H = date.getHours();
                if (H < 10) H = '0' + H;
                let m = date.getMinutes();
                if (m < 10) m = '0' + m;
                return `${y}-${M}-${d} ${H}:${m}`
            },
            dateTimeObj(val = '') {
                let date = (val) ? new Date(val) : new Date();
                let y = date.getFullYear();
                let M = date.getMonth() + 1;
                if (M < 10) M = '0' + M;
                let d = date.getDate();
                if (d < 10) d = '0' + d;
                let H = date.getHours();
                if (H < 10) H = '0' + H;
                let m = date.getMinutes();
                if (m < 10) m = '0' + m;
                let s = date.getSeconds();
                if (s < 10) s = '0' + s;
                return {
                    date: `${y}-${M}-${d}`,
                    time: `${H}:${m}:${s}`
                }
            },
            async getPhotoUser(id){
                let blob = await fetch(`${this.api}/?rout=auth&func=getUserPhoto&thumb=50&idUser=${id}`).then(r => r.blob());
                let reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = () => {
                    let vimg = new Image();
                    vimg.src = reader.result;
                    vimg.onload = () => {
                        let img = this.$refs['printUserPhoto'+id][0];
                        if (vimg.width > vimg.height) img.style.height = '50px';
                        else img.style.width = '50px';
                        img.src = reader.result;
                    };
                };
            },
            openInfo(item){
                this.userInfo = item;
                this.dialogInfo = true;
            },
            scalePhoto(id) {
                this.imgs = [`${this.api}/?rout=auth&func=getUserPhoto&thumb=500&idUser=${id}&rand=${this.rand}`];
                this.visible = true;
            },
            handleHide() {
                this.visible = false;
            },
            clearCachePhoto() {
                this.rand = Math.random().toString(36).substring(7);
            },
            getTextUser(item) {
                return JSON.stringify({
                    id: item.id,
                    surName: item.surName,
                    firstName: item.firstName,
                    lastName: item.lastName,
                    INN: item.INN,
                    KPP: item.KPP,
                });
            },
            urlPhoto(item) {
                let img = new Image();

                try {
                    img.src = `${this.api}/user-photo/user_${item.id}.jpg`;
                } catch {
                    return `${this.api}/user-photo/no-photo.jpg`;
                }

                // let src = `${this.api}/user-photo/no-photo.jpg`;
                // let img = new Image();
                // img.src = `${this.api}/user-photo/user_${item.id}.jpg`;
                // img.onload = function(){return src = img.src;};
                // //img.onerror = function(){return `${this.api}/user-photo/no-photo.jpg`;};
                // src;
            },
            setPhoto(val) {
                if (val.target.files.length) {
                    this.photo = val.target.files[0] || val.dataTransfer.files[0];
                    let fReader = new FileReader();
                    fReader.readAsDataURL(this.$refs.userPhoto.files[0]);
                    fReader.onloadend = (event) => {
                        this.photoPath = event.target.result;
                    }
                } else this.resetPhoto();
            },
            resetPhoto(clear = false) {
                this.photo = (clear) ? 'clear' : null;
                this.photoPath = '';
                this.$refs.userPhoto.value = '';
            },
            printDiv() {
                let data = this.$refs.printer.innerHTML;
                let w = window.open();
                w.document.write(data);
                w.document.close();
                w.focus();
                w.onafterprint = function () {
                    w.close();
                };
                w.print();
            },
            accessEdit(item) {
                return (this.$store.state.auth.info.access < 1.5 && this.$store.state.auth.info.id == item.id) || (this.$store.state.auth.info.access >= 1.5 && this.$store.state.auth.info.access >= item.access);
            },
            message(p1, p2) {
                this.$emit("message", p1, p2);
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem = Object.assign({}, item);
                if(this.$refs.form)this.resetValidation();
                this.dialog = true;
            },
            async deleteItem(item) {
                await new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Подтвердите удаление',
                        text:'Вы уверены что хотите удалить запись?',
                        action: resolve
                    })
                });
                    this.loadDel = true;
                    this.$post(this.api, {
                        rout: 'registration',
                        func: 'deleteUser',
                        ID: item.id,
                        page: this.page,
                        filters: JSON.stringify(this.filters),
                    }).then(json => {
                        //console.log(json);
                        if (json.set) {
                            this.users = json.users.data;
                            this.pageCount = json.users.pageCount;
                            this.usersCount = json.users.count;
                            this.someConfirm = json.users.someConfirm;
                            console.log("Успешно удалено!");
                            this.$emit('message', 'Пользователь удалён!', 'success');
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка на сервере!');
                        }
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(() => {
                        this.loadDel = false;
                    });
            },
            async close(save = false) {
                if (!save && this.loadSave) return false;
                if (!save) {
                    let str = (this.editedIndex !== -1) ? this.items.find(i => i.id == this.editedItem.id) : this.defaultItem;
                    if (JSON.stringify(this.editedItem) != JSON.stringify(str)) {
                        await new Promise((resolve) => {
                            this.$store.dispatch('confirm', {
                                text: 'Есть изменения! Всё равно закрыть?',
                                action: resolve
                            })
                        });
                    }
                }
                this.dialog = false;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.resetValidation();
                this.editedIndex = -1;
                this.eye = false;
                this.resetPhoto();
                this.resetFace = false;
            },
            existDouble(data){
                return new Promise((resolve)=>{
                    this.loadSave = true;
                    this.$post(this.api,{
                        rout: 'registration',
                        func: 'existDouble',
                        data: JSON.stringify(data),
                    }).then(json=>{
                        resolve(json.res);
                    }).catch(()=>{
                        this.loadSave = false;
                    }).finally(()=>{
                        //this.loadSave = false;
                    });
                });
            },
            confirmDouble(){
                return new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Внимание!!!',
                        text:'В системе уже существует пользователь с такими Фамилией, Именем и Отчеством. Дубликаты пользователей могут привести к некорректной работе системы. В случае продолжения вы берёте на себя ответственность по возможным проблемам в работе системы. Ваши данные будут зафиксированны для возможного выяснения обстоятельств и причин по которым была необходимость создавать дубликаты пользователей. Всё равно продолжить?',
                        action: ()=>{resolve()}
                    });
                });
            },
            requestDouble(){
                return new Promise((resolve)=>{
                    this.dialogRD = true;
                    this.actionRD = ()=>{
                        this.$refs.formRD.validate();
                        if (this.validRD){
                            resolve(this.comment);
                            this.dialogRD=false;
                        }
                    };
                });
            },
            async save() {
                this.validate();
                if (this.valid && !this.loadSave) {
                    let data = Object.assign({}, this.editedItem);
                    for(let i in data){
                        if(typeof data[i] == 'string')data[i] = data[i].trim();
                    }
                    let str = (this.editedIndex !== -1) ? this.items.find(i => i.id == data.id) : this.defaultItem;
                    if(this.editedIndex===-1 && this.access==1.5 && this.company.length==1)data.companyID=this.companyID;
                    if(
                        str.surName != data.surName
                        || str.firstName != data.firstName
                        || str.lastName != data.lastName
                        || str.companyID != data.companyID
                        || str.confirm == 1
                    ){
                        let exist = await this.existDouble(data);
                        this.loadSave = false;
                        if(exist){
                            if(this.access<1.5){
                                this.$emit('message', 'Пользователь с такими ФИО уже существует!');
                                return false;
                            }
                            await this.confirmDouble();
                            data.comment = await this.requestDouble();
                        }
                    }
                    if(this.editedItem.access=='.00'){
                        data.login = str.login;
                        data.password = '';
                    }
                    if(![null,'success','waiting'].some(i=>i==data.statusFace) && !this.photo && this.resetFace){
                        data.photo = 'reset';
                    }
                    if (data.timeDelete) data.timeDelete = Date.parse(data.timeDelete)/1000;
                    if (data.password) data.password = MD5(data.password);
                    this.loadSave = true;
                    this.$post(this.api, {
                        rout: 'registration',
                        func: 'setUser',
                        data: JSON.stringify(data),
                        photo: this.photo,
                        userObjectsNew: (this.access>=2 || (this.access==1.5 && this.user.id!=data.id && this.companyObjects.length)) ? JSON.stringify(this.userObjects) : '',
                        page: this.page,
                        filters: JSON.stringify(this.filters),
                    }).then(json => {
                        //console.log(json);
                        if (json.set == 1) {
                            if (this.photo) this.clearCachePhoto();
                            // if(this.editedItem.id==this.$store.state.auth.info.id){
                            //     localStorage.setItem("auth", JSON.stringify(json.auth));
                            //     this.$store.dispatch('set', {prop: "auth", value: json.auth});
                            // }
                            this.close(true);
                            this.users = json.users.data;
                            this.pageCount = json.users.pageCount;
                            this.usersCount = json.users.count;
                            this.someConfirm = json.users.someConfirm;
                            console.log("Успешно сохранено!");
                            this.$emit('message', 'Данные сохранены!', 'success');
                        } else if (json.set == 2) {
                            this.editedItem.login = "";
                            console.error("Логин существует!");
                            this.$emit('message', 'Пользователь с таким логином уже существует!');
                        } else if (json.set == 3) {
                            this.editedItem.email = "";
                            console.error("Почта существует!");
                            this.$emit('message', 'Пользователь с таким email уже существует!');
                        } else {
                            console.error("Ошибка записи в базу!");
                            this.$emit('message', 'Ошибка записи в базу!');
                        }
                        this.loadSave = false;
                    }).catch((error) => {
                        console.error("Ошибка ответа сервера!");
                        this.$emit('message', 'Ошибка ответа сервера!');
                        this.loadSave = false;
                    }).finally(() => {
                        //this.loadSave = false;
                    });
                }
            },
            validate() {
                this.$refs.form.validate()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
            getUsers() {
                let page = this.page;
                let moment = this.moment = Date.now();
                this.loadUsers = true;
                this.$post(this.api, {
                    rout: 'registration',
                    func: 'getUsers',
                    page: this.page,
                    filters: JSON.stringify(this.filters),
                }).then(json => {
                    if (page == this.page && moment == this.moment) {
                        //console.log(json);
                        this.users = json.data;
                        this.pageCount = json.pageCount;
                        this.someConfirm = json.someConfirm;
                        this.usersCount = json.count;
                        this.clearCachePhoto();
                        this.loadUsers = false;
                    }
                }).catch((error) => {
                    if (page == this.page && moment == this.moment) {
                        console.error(error);
                        this.$emit('message', 'Ошибка ответа сервера!');
                        this.loadUsers = false;
                    }
                });
            },

            openEditPhoto(){
                if(!this.photoPath)this.downloadPhoto();
                else this.srcEdit = this.photoPath;
                this.dialogEditPhoto = true;
            },
            async downloadPhoto(){
                this.loadPhoto = true;
                let stamp = this.stamp = Date.now();
                let blob = await fetch(`${this.api}/?rout=auth&func=getUserPhoto&idUser=${this.editedItem.id}&rand=${Date.now()}`).then(r => r.blob());
                let fReader = new FileReader();
                fReader.readAsDataURL(blob);
                fReader.onloadend = (event) => {
                    if(stamp == this.stamp) {
                        if(this.dialogEditPhoto){
                            this.srcEdit = event.target.result;
                        }
                        this.loadPhoto = false;
                    }
                }
            },
            closeEditPhoto(){
                if(!this.loadSaveEditPhoto) {
                    this.srcEdit = '';
                    this.crop=false;
                    this.dialogEditPhoto = false;
                }
            },
            async saveEditPhoto(){
                if(!this.loadSaveEditPhoto) {
                    this.loadSaveEditPhoto = true;
                    let convas = this.$refs.cropper.getCroppedCanvas();
                    let base64 = convas.toDataURL();
                    let file = await new Promise(resolve => {
                        convas.toBlob((blob, type) => {
                            resolve(new File([blob], 'photo.png', {type: type}));
                        });
                    });
                    this.photoPath = base64;
                    this.photo = file;
                    this.loadSaveEditPhoto = false;
                    this.closeEditPhoto();
                }
            },
            zoom(percent) {
                this.$refs.cropper.relativeZoom(percent);
            },
            rotate(){
                this.$refs.cropper.rotate(90);
            },
            cropMode(mode){
                if(mode){
                    this.crop=true;
                    this.$refs.cropper.setDragMode('crop');
                    this.$refs.cropper.initCrop();
                }else{
                    this.crop=false;
                    this.$refs.cropper.clear();
                    this.$refs.cropper.setDragMode('move');
                }
            },
            resetMove(){
                this.$refs.cropper.reset();
            }
        },
    }
</script>

<style>
    .v-toolbar__content .v-toolbar__items:last-child {
        margin-right: -16px;
    }
    .anim_rot {
        animation-name: rot;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 1s;
    }
    @keyframes rot {
        100% {
            transform: rotate(-360deg);
        }
    }
    .hc_cropper .cropper-bg{
        background-repeat: repeat;
    }
</style>
