<template>
            <component
                    :is="component"
                    class="flex-grow-1 overflow-auto"
                    style="height: 0;"
            >
                <v-divider vertical/>
                <v-select
                        :items="components"
                        v-model="component"
                        item-text="title"
                        solo
                        flat
                        hide-details
                        style="max-width: 250px;"
                />
            </component>
</template>
<script>
    export default {
        name: "wialon",
        components:{
            //tokenWialon: () => import('./tokenWialon'),
            typeAuto: () => import('./typeAuto'),
            brandAuto: () => import('./brandAuto'),
        },
        data(){
            return {
                components: [
                    //{title:'Токены',value:'token-wialon',icon:'mdi-home'},
                    {title:'Типы авто',value:'type-auto'},
                    {title:'Марки авто',value:'brand-auto'},
                ],
                component:'type-auto',
            }
        },
    }
</script>