<template>
    <v-app>
        <hc-notify/>
        <hc-confirm/>
        <v-snackbar class="hc_my_snackbar" :color="colorNotice" right top v-model="notice">
            {{ textNotice }}
            <template v-slot:action="{ attrs }">
                <v-btn dark icon @click="notice = false" v-bind="attrs">
                    <v-icon small>mdi-close</v-icon>
                </v-btn>
            </template>
        </v-snackbar>
        <v-container v-if="!autoAuth" class="d-flex flex-column justify-center align-center" style="height: 100%;">
            <div class="subtitle-1 text-center mb-3">Авторизация</div>
            <v-progress-linear
                    color="deep-purple accent-4"
                    indeterminate
                    rounded
                    height="6"
                    style="width:100%;max-width: 200px;"
            ></v-progress-linear>
        </v-container>
        <auth v-else-if="!auth" :api="api" v-model="auth" @message="message" @authServer="authServer"/>
        <template v-else>
            <v-app-bar v-if="!noHeader" app dense class="flex-grow-0" dark>
                <v-toolbar-title class="pl-2">СУД</v-toolbar-title>
                <v-spacer></v-spacer>
                <div class="mx-3">{{user.surName}} {{user.firstName}} {{user.lastName}}</div>
                <v-avatar size="35" class="mx-1">
                    <v-img :src="`${api}/?rout=auth&func=getUserPhoto&thumb=50&idUser=${user.id}`"/>
                </v-avatar>
                <v-btn icon @click="themeChange">
                    <v-icon v-if="$vuetify.theme.dark">mdi-white-balance-sunny</v-icon>
                    <v-icon v-else>mdi-weather-night</v-icon>
                </v-btn>
                <v-btn icon @click="exit">
                    <v-icon>mdi-logout</v-icon>
                </v-btn>
            </v-app-bar>
            <v-main>
                <v-container v-if="lock" fluid class="d-flex justify-center align-center text-center" style="height: 100%;">
                    <div>
                        <v-icon size="100">mdi-lock</v-icon>
                        <h1>Система заблокирована</h1>
                        <p v-if="lockAccess">Проект не доступен вашей компании...</p>
                        <p v-else>Недостаточно средств на балансе...</p>
                    </div>
                </v-container>
                <div v-else class="d-flex flex-column" style="height: 100%;">
                    <v-tabs
                            fixed-tabs
                            style="flex-grow: 0;"
                            v-model="tab"
                    >
                        <v-tab v-for="item in menu">
                            {{item.name}}
                        </v-tab>
                    </v-tabs>
                    <v-divider/>
                    <component
                            class="flex-grow-1 overflow-auto"
                            style="height: 0;"
                            :is="comp"
                            :api="api"
                            :loading="loading"
                            :company="company"
                            :project="project"
                            :objects="objects"
                            @companyEdit="companyEdit"
                            @projectEdit="projectEdit"
                            @objectsEdit="objectsEdit"
                            @message="message"
                    />
                </div>
            </v-main>
        </template>
    </v-app>
</template>

<script>

    // import { VApp } from 'vuetify/lib'

    import auth from "./comp/auth";
    import {mapGetters} from "vuex";
    import hcNotify from './comp/hcNotify.vue';
    import hcConfirm from './comp/hcConfirm';

    export default {
        components: {
            auth,
            hcConfirm,
            hcNotify,
        },
        data() {
            return {
                tabs: [
                    {name: "Пользователи", value: "users"},
                    {name: "Компании", value: "company", access: 1.5},
                    {name: "Объекты СКУД", value: "objects", access: 2},
                    {name: "Проекты", value: "project", access: 3},
                    //{name: "Wialon", value: "wialon", access: 2},
                    {name: "Смартфоны", value: "device"},
                ],
                colorNotice: 'error',
                textNotice: '',
                notice: false,
                auth: false,
                autoAuth: false,
                loadTest: false,
                noHeader: false,
                page: 'users',
                //loadAppList: false,
                //appList: [],
                loading: false,
                project: [],
                company: [],
                objects: [],
                pageNum: 1,
                pageCount: 0,
                comp:null,
            };
        },
        mounted() {
            window.myvue = this;
            this.$vuetify.theme.dark = localStorage.dark == "true";
            let get = window.location.hash.split('?')[1];
            if (get) {
                let getObj = this.getToObject(get);
                if (getObj.noHeader == 'true') this.noHeader = true;
                if (getObj.auth) localStorage.setItem('auth', getObj.auth);
                localStorage.dark = this.$vuetify.theme.dark = (getObj.dark == 'true') ? true : false;
            }
            this.testAuth(true);
            setInterval(() => this.testAuth(), 30000);
        },
        computed: {
            ...mapGetters({
                user: 'user',
            }),
            api(){
                return this.$store.state.api.urlAuth;
            },
            lockBilling(){
                return this.$store.state.auth.info.lock == '1';
            },
            lockAccess(){
                return !this.$store.state.auth.access.some(i=>i.name=='users');
            },
            lock() {
                return this.access < 3 && (this.lockBilling || this.lockAccess);
            },
            menu() {
                return this.tabs.filter(i => !i.access || i.access <= this.access);
            },
            tab: {
                get() {
                    return this.menu.findIndex(i => i.value === this.page);
                },
                set(val) {
                    this.page = this.menu[val].value;
                }
            },
            access() {
                return (this.auth) ? this.$store.state.auth.info.access : 0;
            },
            companyID() {
                return (this.auth) ? this.$store.state.auth.info.companyID : 0;
            },
            redirect() {
                return !this.menu.some(i => i.value == this.page);
            },
            unlockInterface() {
                return this.auth && !this.lock;
            },
        },
        watch: {
            redirect(val) {
                if (val) this.tab = 0;
            },
            access() {
                if (this.unlockInterface) this.init();
            },
            companyID() {
                if (this.unlockInterface) this.init();
            },
            unlockInterface(val) {
                if (val) {
                    this.init();
                }
            },
            page:{
                handler: 'connectChunk',
                immediate: true
            }
        },
        methods: {
            connectChunk(){
                this.comp = () => import(`./comp/${this.page}`);
            },
            companyEdit(data) {
                this.company = data;
            },
            projectEdit(data) {
                this.project = data;
            },
            objectsEdit(data) {
                this.objects = data;
            },
            init() {
                if (!this.loading) {
                    this.loading = true;
                    this.$store.dispatch('set',{prop:'loading',value:true});
                    this.$post(this.api, {
                        rout: 'registration',
                        func: 'getList',
                    }).then(json => {
                        this.project = json.project;
                        this.company = json.company;
                        this.objects = json.objects;
                    }).catch((error) => {
                        console.error(error);
                        this.$emit('message', 'Ошибка ответа сервера!');
                    }).finally(()=>{
                        this.loading = false;
                        this.$store.dispatch('set',{prop:'loading',value:false});
                    });
                }
            },
            getToObject(get) {
                let arr = get.split('&');
                let obj = {};
                for (let key in arr) {
                    let elem = arr[key].split('=');
                    obj[elem[0]] = decodeURIComponent(elem[1]);
                }
                return obj;
            },
            authServer() {
                localStorage.startApi = JSON.stringify(Object.values(this.$store.state.api));
            },
            testAuth(start = false) {
                if (localStorage.auth) {
                    if (start) this.authServer();
                    if (navigator.onLine) {
                        if (!this.loadTest) {
                            this.loadTest = true;
                            this.$post(this.api, {
                                rout: "auth",
                                func: "testAuth",
                            }).then(json => {
                                //console.log(json);
                                if (!start && !localStorage.auth) return false;
                                if (json.auth) {
                                    //if(json.HCSSID)sessionStorage.HCSSID = json.HCSSID;
                                    let ls = JSON.parse(localStorage.auth);
                                    if (json.info) {
                                        if (json.info.access < 1.2) {
                                            this.resetUser();
                                            this.message('Доступ закрыт!');
                                        } else {
                                            localStorage.setItem("auth", JSON.stringify(json));
                                            this.$store.dispatch('set', {prop: "auth", value: json});
                                            this.auth = true;
                                            this.authServer();
                                        }
                                    } else if (ls.info.access < 1.2) {
                                        this.resetUser();
                                    } else if (!this.auth || this.$store.state.auth.info.id != ls.info.id) {
                                        this.$store.dispatch('set', {prop: "auth", value: ls});
                                        this.auth = true;
                                    }
                                } else {
                                    this.resetUser();
                                }
                                this.autoAuth = true;
                            }).catch(error => {
                                console.log("Ошибка ответа сервера!", error);
                                if (start) this.message('Ошибка ответа сервера!');
                            }).finally(() => {
                                this.loadTest = false;
                            });
                        }
                    } else if (start) {
                        this.message('Нет сети!');
                    }
                } else {
                    this.autoAuth = true;
                    this.auth = false;
                }
            },
            message(text, color = 'error') {
                this.textNotice = text;
                this.colorNotice = color;
                this.notice = true;
            },
            async exit() {
                await new Promise((resolve)=>{
                    this.$store.dispatch('confirm',{
                        head:'Подтвердите действие',
                        text:'Вы действительно хотите выйти из аккаунта?',
                        action: resolve
                    })
                });
                    this.resetUser();
            },
            resetUser() {
                localStorage.removeItem("auth");
                this.auth = false;
            },
            themeChange() {
                localStorage.dark = this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
            },
        },
    }
</script>

<style>
    .hc_my_snackbar .v-snack__wrapper {
        min-width: 0 !important;
    }

    html {
        overflow: auto !important;
    }

    .v-divider--vertical {
        margin: 0 !important;
    }
</style>
